﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.Title = "Configurações";

    List<PowerOne.Models.ItemEstoque>
itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Filiais>
        filiais = (List<PowerOne.Models.Filiais>)TempData["filiais"];

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Configurações</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.Tipo == "Adm")
        {
            <div class="col-md-4 p-1">
                <a href="~/Configuracoes/Email" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="cardnosso-title">Configurar Email</h5>
                            </div>
                            @*<img src="" class="card-img p-5" alt="ícone Configurar Email" />*@
                            <img src="~/Content/img/@diretorio/at-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        </div>
                    </div>
                </a>
            </div>
        }

        <div class="col-md-4 p-1">

            <a href="~/Configuracoes/Temas" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Temas</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/heart-half-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

        @if (autorizacoes.Tipo == "Adm")
        {
            <div class="col-md-4 p-1">
                <a href="~/Configuracoes/Autorizacoes" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="cardnosso-title">Autorizações</h5>
                            </div>
                            <img src="~/Content/img/@diretorio/checkmark-done-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        </div>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.Tipo == "Adm")
        {
            <div class="col-md-4 p-1">
                <a href="~/Configuracoes/DocConfig" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="cardnosso-title">Configurações de Documento</h5>
                            </div>
                            <img src="~/Content/img/@diretorio/conf_doc.svg" class="img-icon" alt="Configurações de Documento" />
                        </div>
                    </div>
                </a>
            </div>
        }

        <div class="col-md-4 p-1">
            <a href="~/Login/AlterarSenha" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Alterar Senha</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/cog-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4 p-1">
            <a href="~/Login/Logout" class="card-link text-dark">
                <div class="cardnosso bg-light">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Sair</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/exit-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>