﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Estoque";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Estoque</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.CriarReqEstoque != "N" || autorizacoes.Grupo.CriarReqEstoque != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/RequerimentoEstoque/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar Requisição</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/add-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        @*<p class="cardnosso-sub">Adicione um Requerimento de Estoque</p>*@
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.ReqEstoque != "N" || autorizacoes.Grupo.ReqEstoque != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/RequerimentoEstoque/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Requisições</h5>
                        </div>
                        @*<ion-icon class="cardnosso-element" name="cube-outline"></ion-icon>*@
                        <img src="~/Content/img/@diretorio/exibir_estoque.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["estoque"].ToString()</h1>
                        <p class="cardnosso-sub">Requerimentos de Estoque</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
