﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Overview";
}

<h1 class="text-center p-5">Overview</h1>
<p></p>
<div class="container">
    <div class="row mb-4">
        <div class="col-12 pb-4">
            <h3 class="text-center p-3"> Pesquisar Módulos</h3>
            <form class="row">
                <input id="pesquisa" class="form-control bg-light rounded-pill col-md-8 mx-auto" />
            </form>
        </div>

        <div class="col-md-4 p-1 ">
            <div class="cardnosso bg-light  m-auto">
                <div class="card-body">
                    <div id="piechart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-1">
            <div class="cardnosso bg-light p-5">
                <div class="card-body">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-1">
            <div class="cardnosso bg-light p-5">
                <h5>Dados gerais:</h5>
                <div class="card-body">
                    <ul class="overview">
                        <li>
                            <p>Logado como: </p>
                            <h6>@(((PowerOne.Models.Login)Session["auth"]).User)</h6>
                        </li>
                        <li>
                            <p>Setor: </p>
                            <h6>@(((PowerOne.Models.Login)Session["auth"]).Autorizacoes.Grupo.Name)</h6>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</p>



@section scripts{
    <script type="text/javascript">
        var thema = [];
       @{string thema = ""; }
       @if (((PowerOne.Models.Login)Session["auth"]).Tema != null) {
           thema = ((PowerOne.Models.Login)Session["auth"]).Tema.Color.ToString();
       }

       thema = '@thema';
       if (thema == 'BLACK') {
           cores = ['#343a40', '#20272d', '#494a4a', '#6c757d']
        } else if (thema == 'ORANGE') {
           cores = ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f']
        } else if (thema == 'RED') {
           cores = ['#a51919', '#de1818', '#610d0d', '#f3b49f']
        } else if (thema == 'BLUE') {
           cores = ['#44abd8', '#1977a0', '#005377', '#022c3e']
        } else if (thema == 'GREEN') {
           cores = ['#50c895', '#178455', '#08c775', '#004e2d']
        } else if (thema == 'DARKGREEN') {
           cores = ['#32855d', '#004e2d', '#162f23', '#64e6a8']
        } else if (thema == 'YELLOW') {
           cores = ['#c5be03', '#eae200', '#c7c459', '#615e0d']
        } else if (thema == 'PURPLE') {
           cores = ['#aa59c7', '#8128a0', '#560771', '#be00ff']
       } else {
           cores = ['#343a40', '#20272d', '#494a4a', '#6c757d']
        }

        //primeiro grafico
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawBasic);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([

               ['Ações', 'UND'],
               ['Pedidos de Compra', @TempData["consultasPedido"].ToString()],
               ['Solicitações de Compras', @TempData["consultasSolicitacao"].ToString()],
               ['Requerimento de estoque',  @TempData["estoque"].ToString()],
               ['Reembolsos', @TempData["consultasPedido"].ToString()]
            ]);

            var options = {
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                pieStartAngle: 70,
                pieHole: 0.4,

                legend: { position: "bottom", alignment: "center" },
                pieSliceText: 'label',
                title: 'Documentos adicionados nos últimos em 7 dias',
                chartArea: {
                    backgroundColor: '#f8f9fa',

                    width: '100%',
                    height: '65%'
                },
                backgroundColor: '#f8f9fa',
                colors: cores,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        //segundo grafico
        function drawBasic() {
            
            var data = google.visualization.arrayToDataTable([
                ['Card', 'Quantidade Total', { role: 'style' }],
                ['Modelos cadastrados',@TempData["consultaModelos"],cores[0]],
                ['grupos de clientes',@TempData["grupos"], cores[1]],
                ['Registros de envios',@TempData["registrosMes"], cores[2]],
            ]);

            var options = {
                legend: { position: "none" },
                animation: {
                    duration: 1000,
                    easing: 'in'
                },
                title: 'Dados Assitente de Cobrança',
                hAxis: {
                    title: 'Nome do Modulo',
                },
                backgroundColor: '#f8f9fa',
            };

                    var chart = new google.visualization.ColumnChart(
                        document.getElementById('chart_div'));

                    chart.draw(data, options);

        }


        var pages = [
        /*assistente*/
            { label: "Exibir Modelos - Assistente de Cobrança", url: "./MailModel/Index" },
            { label: "Cadastrar Modelos - Assistente de Cobrança", url: "./MailModel/Create" },
            { label: "Assistente de Envio - Assistente de Cobrança", url: "./SendingWizard/Index" },
            { label: "Clientes - Assistente de Cobrança", url: "./BusinessPartner/Index" },
            { label: "Grupo de Clientes Registro de Envio - Assistente de Cobrança", url: "./BPGroup/Index" },
            { label: "Relatório de Cobranças - Assistente de Cobrança", url: "./LogEmails/Index" },
            { label: "Registros de Envios - Assistente de Cobrança", url: "LogEmails/Index" },
        /*compras*/
            { label: "Exibir Solicitações - Compras", url: "./SolicitacaoCompras/Index"},
            { label: "Criar Solicitação - Compras", url: "./SolicitacaoCompras/Create"},
            { label: "Exibir Pedidos de Compra- Compras", url: "./PedidoCompras/Index" },
            { label: "Criar Pedido de Compra - Compras", url: "./PedidoCompras/Create" },
        /*estoque*/
            { label: "Criar Estoque - Estoque", url: "./RequerimentoEstoque/Create" },
            { label: "Exibir Estoque- Estoque", url: "./RequerimentoEstoque/Index" },
         /*Financeiro*/
            { label: "Exibir Reembolsos - Financeiro", url: "./SolicitacaoReembolso/Index" },
            { label: "Criar Reembolso - Financeiro", url: "./SolicitacaoReembolso/Create" },
            { label: "Configurar Email - Configurações", url: "./Configuracoes/Email" },
        /*Configracoes*/
            { label: "Temas - Configurações", url: "./Configuracoes/Temas" },
            { label: "Autorizações - Configurações", url: "./DocConfig/Autorizacoes" },
            { label: "Configurações do Documento - Configurações", url: "./DocConfig/DocConfig" },
            { label: "Alterar Senha - Configurações", url: "./Login/AlterarSenha" }
        ];

        $("#pesquisa").autocomplete({
            source: pages,
            select: function (event, page) {
                window.open(page.item.url)
            }
        });
    </script>



}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
