﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Financeiro";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="text-center p-5">Financeiro</h1>

<div class="container">
    <div class="row">

        @if (autorizacoes.CriarReembolso != "N" || autorizacoes.Grupo.CriarReembolso != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/SolicitacaoReembolso/Create" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Criar Reembolso</h5>
                        </div>

                        <img src="~/Content/img/@diretorio/wallet-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                        <h1 class="card-element">@TempData["consultasPedido"].ToString()</h1>
                        <p class="cardnosso-sub">Reembolsos nos últimos 7 dias</p>
                    </div>
                </a>
            </div>
        }

        @if (autorizacoes.Reembolso != "N" || autorizacoes.Grupo.Reembolso != "N")
        {
            <div class="col-md-4 p-1">
                <a href="~/SolicitacaoReembolso/Index" class="card-link text-dark">
                    <div class="cardnosso bg-light">
                        <div class="card-body">
                            <h5 class="cardnosso-title">Exibir Reembolso</h5>
                        </div>
                        <img src="~/Content/img/@diretorio/cash-outline.svg" class="img-icon" alt="ícone exibir requisições" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>
