﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "TimeSheet";

    string diretorio = ((PowerOne.Models.Login)Session["auth"]).Tema.Icon;
    if (String.IsNullOrEmpty(diretorio))
    {
        diretorio = "PRO";
    }
}

<h1 class="text-center p-5">TimeSheet</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-1">
            <div class="cardnosso bg-light">
                <div class="card-body">
                    <h5 class="cardnosso-title">Apontamento Horas</h5>
                </div>
                <img src="~/Content/img/@diretorio/time-outline.svg" class="img-icon" alt="ícone exibir requisições" />
            </div>
        </div>

        <div class="col-md-4 p-1">
            <div class="cardnosso bg-light">
                <div class="card-body">
                    <h5 class="cardnosso-title">Revisão de Horas</h5>
                </div>
                <img src="~/Content/img/@diretorio/bar-chart-outline.svg" class="img-icon" alt="ícone exibir requisições" />
            </div>
        </div>
    </div>
</div>