﻿@model PowerOne.Models.Login
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-12" role="alert">
        @TempData["Success"].ToString()
    </div>
}


<div class="card col-lg-4 col-md-6 col-sm-8 mx-auto my-5 shadow p-5 mb-5 rounded p-3 bg-login">
    <div class="card-body">
        <div class="row">
                <img class="m-auto logo-login col-12" src="~/Content/img/logo-company.png" alt="Logo da Empresa" />
        </div>
        <hr />

        <form action="~/Login" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(item => Model.User)
                @Html.TextBoxFor(item => Model.User, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(item => Model.User, String.Empty, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(item => Model.Password)
                @Html.PasswordFor(item => Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(item => Model.Password, String.Empty, new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.ActionLink("Esqueci minha senha", "RecuperarSenha", "Login", new { @class = "col-md-12 m-auto text-center" })
                <button type="submit" class="btn btn-dark col-md-3 m-auto">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>