﻿@model PowerOne.Models.Compras.PedidoCompra
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.Compras.PedidoCompraLinhas modelLinha = new PowerOne.Models.Compras.PedidoCompraLinhas();

    List<PowerOne.Models.ItemEstoque> itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Deposito> depositos = (List<PowerOne.Models.Deposito>)TempData["depositos"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="col-12 text-center">Detalhes do Pedido</h1>
<hr />

<div class="alert col-10 mx-auto alert-hide" role="alert" id="alert"></div>

@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-10 mx-auto bg-light p-0">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(id => Model.DocEntry)
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.BPLName):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.BPLName)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocDate):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocDate)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocDueDate):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocDueDate)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocStatus):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocStatus)" readonly />
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-itens-tab" data-toggle="tab" href="#nav-itens" role="tab" aria-controls="nav-itens" aria-selected="true">Itens</a>
                <a class="nav-link" id="nav-anexos-tab" data-toggle="tab" href="#nav-anexos" role="tab" aria-controls="nav-anexos" aria-selected="false">Anexos</a>
            </div>
        </nav>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-itens" role="tabpanel" aria-labelledby="nav-itens-tab">
                @if (Model == null)
                {
                    <h2 class="text-center"> Não Foram encontrados itens nessa Requisição de Estoque</h2>
                }
                else
                {
                    <table class="table table-striped table-responsive col-md-12 text-center">
                        <thead class="thead-dark">
                            <tr class="tr">
                                <th scope="col">Nº</th>
                                <th scope="col">Dt. Entrega</th>
                                <th scope="col">Codigo Item</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Quantidade</th>

                                <th scope="col">Conferido</th>
                                <th scope="col">Pendente</th>
                                <th scope="col">Conferir</th>
                                <th scope="col">Obs. Conferência</th>
                                <th scope="col">Salvar Conf.</th>

                                @if (TempData["ctCusto"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo</th>
                                }
                                @if (TempData["ctCusto2"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 2</th>
                                }
                                @if (TempData["ctCusto3"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 3</th>
                                }
                                @if (TempData["ctCusto4"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 4</th>
                                }
                                @if (TempData["ctCusto5"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 5</th>
                                }

                                <th scope="col">Código Depósito</th>
                                <th scope="col">Unidade</th>
                                <th scope="col">Status</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Fechar Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Itens)
                            {
                                <form action="~/PedidoCompras/AlterarLinha" method="post">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(DocEntry => item.DocEntry, new { Name = "DocEntry", Id = "DocEntry" })
                                    @Html.HiddenFor(VisOrder => item.VisOrder, new { Name = "VisOrder", Id = "VisOrder" })
                                    @Html.HiddenFor(BPL_IDAssignedToInvoice => Model.BPL_IDAssignedToInvoice, new { Name = "BPL_IDAssignedToInvoice", Id = "BPL_IDAssignedToInvoice" })

                                    <input type="hidden" value="1" name="paramType" />

                                    <tr class="tr">
                                        <td class="linha">
                                            @(item.VisOrder + 1)
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.ShipDate)</span>
                                            @Html.TextBoxFor(model => item.ShipDate, null, new { @class = "visible-false input-table-form form-control", Type = "date", @Value = item.ShipDate.ToString("yyyy-MM-dd"), Name = "ShipDate" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.ItemCode)</span>
                                            @Html.TextBoxFor(model => item.ItemCode, null, new { @class = "visible-false input-table-form form-control", Name = "ItemCode", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.ItemDesc)</span>
                                            @Html.TextBoxFor(model => item.ItemDesc, null, new { @class = "visible-false input-table-form form-control", Name = "ItemDesc", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.PriceBefDi)</span>
                                            @Html.TextBoxFor(model => item.PriceBefDi, null, new { @class = "visible-false input-table-form form-control", Name = "PriceBefDi", onkeypress = "return SomenteNumero(event, this);" })
                                        </td>
                                        <td>
                                            <span id="Quantity" class="td-table-form">@Html.DisplayFor(model => item.Quantity)</span>
                                            @Html.TextBoxFor(model => item.Quantity, null, new { @class = "visible-false input-table-form form-control", Name = "Quantity", onkeypress = "return SomenteNumero(event, this);" })
                                        </td>


                                        <td class="ConferirExibe">
                                            <span @*id="U_CONFPEDIDO"*@ class="td-table-form U_CONFPEDIDO">@Html.DisplayFor(model => item.U_CONFPEDIDO)</span>
                                        </td>
                                        <td class="Pendente">
                                            @(item.Quantity - item.U_CONFPEDIDO)
                                        </td>
                                        <td class="Conferir">
                                            @if ((item.DocStatus == "Aberta" && item.LineStatus == "Aberta") && (autorizacoes.PedCompra == "T" || autorizacoes.Grupo.PedCompra == "T") && (item.Quantity != item.U_CONFPEDIDO))
                                            {

                                                <input name="U_CONFPEDIDO" id="U_CONFPEDIDO_INPUT" inputmode="numeric" type="tel" class="td-table-form form-control U_CONFPEDIDO_INPUT" onkeypress='return SomenteNumero(event, this)' min="1" />

                                                <input name="U_CONFPEDIDO" id="U_CONFPEDIDO_INPUT" inputmode="numeric" type="tel" class="visible-false input-table-form form-control" onkeypress='return SomenteNumero(event, this)' min="1" disabled />
                                            }
                                            else
                                            {
                                                <input name="U_CONFPEDIDO" id="U_CONFPEDIDO_INPUT" inputmode="numeric" type="tel" class="td-table-form form-control" disabled />
                                            }
                                        </td>
                                        <td class="Observacao">
                                            @if ((item.DocStatus == "Aberta" && item.LineStatus == "Aberta") && (autorizacoes.PedCompra == "T" || autorizacoes.Grupo.PedCompra == "T") && (item.Quantity != item.U_CONFPEDIDO))
                                            {
                                                @Html.TextBoxFor(model => item.U_ObsConf, null, new { @class = "input-table-form form-control td-table-form U_ObsConf", Name = "U_ObsConf", Value = item.U_ObsConf })

                                                @Html.TextBoxFor(model => item.U_ObsConf, null, new { @class = "visible-false input-table-form form-control", Name = "U_ObsConf", Value = item.U_ObsConf, Readonly = "Readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => item.U_ObsConf, null, new { @class = "input-table-form form-control", Name = "U_ObsConf", Value = item.U_ObsConf, Readonly = "Readonly" })
                                            }
                                        </td>
                                        <td>
                                            @if ((item.DocStatus == "Aberta" && item.LineStatus == "Aberta") && (autorizacoes.PedCompra == "T" || autorizacoes.Grupo.PedCompra == "T") && (item.Quantity != item.U_CONFPEDIDO))
                                            {
                                                <button type="button" class="btn btn-success btn-block td-table-form " onclick="salvarConf(this)">Salvar</button>
                                                <button type="button" class="btn btn-success btn-block form-control input-table-form visible-false" disabled>Salvar</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-success form-control btn-block" disabled>Salvar</button>
                                            }
                                        </td>


                                        @if (TempData["ctCusto"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form ">@Html.DisplayFor(model => item.OcrName)</span>
                                                <select name="OcrCode" class="visible-false input-table-form form-control" id="OcrCode">
                                                    <option value=""></option>
                                                    @foreach (var ctCusto in ctCustos)
                                                    {
                                                        <option value="@ctCusto.OcrCode">@Html.DisplayFor(model => ctCusto.OcrName)</option>
                                                    }
                                                </select>
                                                @*@Html.TextBoxFor(model => item.OcrName, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode", Value = item.OcrCode, Readonly = "Readonly" })*@
                                            </td>
                                        }
                                        @if (TempData["ctCusto2"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName2)</span>
                                                <select name="OcrCode2" class="form-control" id="OcrCode2">
                                                    <option value=""></option>
                                                    @foreach (var ctCusto2 in ctCustos2)
                                                    {
                                                        <option value="@ctCusto2.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto2.OcrName)</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                        @if (TempData["ctCusto3"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName3)</span>
                                                <select name="OcrCode3" class="form-control" id="OcrCode3">
                                                    <option value=""></option>
                                                    @foreach (var ctCusto3 in ctCustos3)
                                                    {
                                                        <option value="@ctCusto3.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto3.OcrName)</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                        @if (TempData["ctCusto4"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName4)</span>
                                                <select name="OcrCode4" class="form-control" id="OcrCode4">
                                                    <option value=""></option>
                                                    @foreach (var ctCusto4 in ctCustos4)
                                                    {
                                                        <option value="@ctCusto4.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto4.OcrName)</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                        @if (TempData["ctCusto5"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName5)</span>
                                                <select name="OcrCode5" class="form-control" id="OcrCode5">
                                                    <option value=""></option>
                                                    @foreach (var ctCusto5 in ctCustos5)
                                                    {
                                                        <option value="@ctCusto5.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto5.OcrName)</option>
                                                    }
                                                </select>
                                            </td>
                                        }

                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.WhsCode)</span>
                                            <select name="WhsCode" class="visible-false input-table-form form-control" id="WhsCode">
                                                @foreach (var deposito in depositos)
                                                {
                                                    <option value="@deposito.WhsCode.ToString()">@Html.DisplayFor(model => deposito.WhsName)</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.BuyUnitMsr)</span>
                                            @Html.TextBoxFor(model => item.BuyUnitMsr, null, new { @class = "visible-false input-table-form form-control", Name = "BuyUnitMsr", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.LineStatus)</span>
                                            @Html.TextBoxFor(model => item.LineStatus, null, new { @class = "visible-false input-table-form form-control", Name = "LineStatus", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            @if (item.DocStatus == "Aberta" && item.LineStatus == "Aberta")
                                            {
                                                <a class="btn btn-outline-dark td-table-form" onclick="toggleTableForm(this);">Editar</a>
                                                <button type="submit" class="visible-false input-table-form btn btn-primary">Salvar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="input-table-form btn btn-primary" disabled>Editar</button>
                                            }
                                        </td>
                                        <td>
                                            @if (item.DocStatus == "Aberta" && item.LineStatus == "Aberta")
                                            {
                                                @Html.ActionLink("Fechar", "FecharStatusLinha", "PedidoCompras", new { id = item.DocEntry, line = item.VisOrder, BPL_IDAssignedToInvoice = Model.BPL_IDAssignedToInvoice }, new { @class = "btn btn-outline-danger td-table-form" })
                                                <button class="visible-false input-table-form btn btn-outline-danger" disabled>Fechar</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-outline-danger" disabled>Fechar</button>
                                            }
                                        </td>
                                    </tr>
                                </form>
                            }

                            <form action="~/PedidoCompras/AlterarLinha" method="post">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(DocEntry => Model.DocEntry, new { Name = "DocEntry" })
                                @Html.HiddenFor(VisOrder => modelLinha.VisOrder, new { Name = "VisOrder" })
                                @Html.HiddenFor(BPL_IDAssignedToInvoice => Model.BPL_IDAssignedToInvoice, new { Name = "BPL_IDAssignedToInvoice" })

                                <input type="hidden" value="2" name="paramType" />

                                <tr class="tr tr formLinha form-hide">
                                    <td>
                                        Novo Item
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.ShipDate, null, new { @class = "form-control", Type = "date", Value = DateTime.Now, Name = "ShipDate" })
                                    </td>
                                    <td>
                                        <input type="text" id="itemCode" name="itemCode" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <select name="ItemDesc" class="form-control" onchange="preenche()" id="item">
                                            <option></option>
                                            @foreach (var item in itens)
                                            {
                                                <option value="@Html.DisplayFor(model => item.ItemName)" data-code="@item.ItemCode.ToString()" data-unidadeMedida="@item.UnidadeMedida.ToString()">@Html.DisplayFor(model => item.ItemName)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.PriceBefDi, null, new { @class = "form-control", Name = "PriceBefDi", onkeypress = "return SomenteNumero(event, this);" })
                                    </td>

                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.Quantity, null, new { @class = "form-control", Name = "Quantity", onkeypress = "return SomenteNumero(event, this);" })
                                    </td>
                                    <td id="tb-conferido"></td>
                                    <td id="tb-pendente"></td>
                                    <td id="tb-conferiri"></td>
                                    <td id="tb-obsConf"></td>
                                    <td id="tb-btn-salvarConf"></td>

                                    @if (TempData["ctCusto"] != null)
                                    {
                                        <td id="tb-OcrCode">
                                            <select name="OcrCode" class="form-control" id="OcrCode">
                                                @*<option value=""></option>*@
                                                @foreach (var ctCusto in ctCustos)
                                                {
                                                    <option value="@ctCusto.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto.OcrName)</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @if (TempData["ctCusto2"] != null)
                                    {
                                        <td id="tb-OcrCode2">
                                            <select name="OcrCode2" class="form-control" id="OcrCode2">
                                                @foreach (var ctCusto2 in ctCustos2)
                                                {
                                                    <option value="@ctCusto2.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto2.OcrName)</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @if (TempData["ctCusto3"] != null)
                                    {
                                        <td id="tb-OcrCode3">
                                            <select name="OcrCode3" class="form-control" id="OcrCode3">
                                                @foreach (var ctCusto3 in ctCustos3)
                                                {
                                                    <option value="@ctCusto3.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto3.OcrName)</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @if (TempData["ctCusto4"] != null)
                                    {
                                        <td id="tb-OcrCode4">
                                            <select name="OcrCode4" class="form-control" id="OcrCode4">
                                                @foreach (var ctCusto4 in ctCustos4)
                                                {
                                                    <option value="@ctCusto4.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto4.OcrName)</option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @if (TempData["ctCusto5"] != null)
                                    {
                                        <td id="tb-OcrCode5">
                                            <select name="OcrCode5" class="form-control" id="OcrCode5">
                                                @foreach (var ctCusto5 in ctCustos5)
                                                {
                                                    <option value="@ctCusto5.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto5.OcrName)</option>
                                                }
                                            </select>
                                        </td>
                                    }

                                    <td>
                                        <select name="WhsCode" class="input-table-form form-control" id="WhsCode">
                                            <option></option>
                                            @foreach (var deposito in depositos)
                                            {
                                                <option value="@deposito.WhsCode.ToString()">@Html.DisplayFor(model => deposito.WhsName)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="BuyUnitMsr" id="BuyUnitMsr" class="form-control" readonly />
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <button type="submit" class="input-table-form btn btn-primary">Salvar</button>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-dark" onclick="adicionarLinha()">Cancelar</a>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="nav-anexos" role="tabpanel" aria-labelledby="nav-anexos-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Extensão</th>
                            <th scope="col">Diretório</th>
                        </tr>
                    </thead>
                    <tbody id="anexos">
                        @if (Model.ListaAnexos != null)
                        {
                            foreach (PowerOne.Models.Arquivo anexo in Model.ListaAnexos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => anexo.Nome)</td>
                                    <td>@Html.DisplayFor(m => anexo.Extensao)</td>
                                    <td>@Html.DisplayFor(m => anexo.Diretorio)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="card-footer ">

        <div class="row">
            <form action="~/PedidoCompras/EditarAnexo" method="post" enctype="multipart/form-data" id="form_anexo" style="display:none" class="col-md-5 mx-auto">
                <div class="form-group">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(docEntry => Model.idAnexos, new { Name = "idAnexos" })
                    @Html.HiddenFor(docEntry => Model.DocEntry, new { Name = "DocEntry" })
                    @Html.HiddenFor(docEntry => Model.BPL_IDAssignedToInvoice, new { Name = "Filial" })
                    <label>Anexo:</label>
                    <div class="row">
                        <input type="file" id="input_anexo" class="form-control col-10 h-100" name="file">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success Small">
                                <i class="material-icons">file_upload</i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 m-auto">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">

                    @if (Model.DocStatus == "Aberta")
                    {
                        <button class="btn btn-outline-success col-md-10 btn-block m-1" type="button" onclick="adicionarLinha()">Adicionar Item</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success col-md-10 btn-block m-1" disabled>Adicionar Item</button>
                    }

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">


                    @if (Model.DocStatus == "Aberta")
                    {
                        <button type="button" class="btn btn-danger form-control btn-block col-md-10 m-1" data-toggle="modal" data-target="#confirmar">
                            Fechar @*Documento*@
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-danger form-control btn-block col-md-10 m-1" disabled>Fechar Documento</button>
                    }


                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">

                    @if (Model.DocStatus == "Aberta")
                    {
                        <button class="btn btn-outline-success form-control btn-block col-md-10 m-1" onclick="addAnexoForm()">Adicionar Anexo</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success form-control btn-block col-md-10 m-1" disabled>Adicionar Anexo</button>
                    }

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">

                    @Html.ActionLink("Voltar", "Index", "PedidoCompras", new { @class = "btn btn-outline-primary form-control btn-block col-md-10 m-1" })

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo fechar o documento? essa ação altera o status do documento de Aberto para Fechado
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                @Html.ActionLink("Sim, Desejo fechar o Documento", "FecharStatus", "PedidoCompras", new { DocEntry = Model.DocEntry }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/scripts/anexos.js"></script>
    <script>

        function preenche() {
            //preenche o código do item
            var code = $('#item :selected').attr('data-code');
            $('#itemCode').val(code);

            //preenche a unidade de medida
            var und = $('#item :selected').attr('data-unidadeMedida');
            
            $('#BuyUnitMsr').val(und);
        }

        // verifica se o valor conferido é menor do que a quantidade
        function verificaConf(btn_conf) {
            var valid = true

            let linhaTabela = jQuery(btn_conf).parent().parent();
            let pendente = jQuery(linhaTabela).find('td.Pendente').text();
            let conferir = jQuery(jQuery(linhaTabela).find('td.Conferir')).find('.U_CONFPEDIDO_INPUT').val();
           

            if (parseFloat(conferir) <= 0) {
                msg = "A quantidade conferida deve ser maior do que zero!";
                escreverMensagemEmHead(msg);
                valid = false;
            } else if (parseFloat(conferir) > parseFloat(pendente)) {
                msg = "A quantidade conferida deve ser menor ou igual a pendente!";
                escreverMensagemEmHead(msg);
                valid = false;
            } else if (conferir == "") {
                msg = "A quantidade conferida deve ser inserida!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            return valid
        }

        function salvarConf(btn_conf) {
            if (verificaConf(btn_conf)) {

                //pega o valor conferido
                let linhaTabela = jQuery(btn_conf).parent().parent();
                let linhaItem = jQuery(jQuery(linhaTabela).find('td.linha')).text();
                let conferirInput = jQuery(jQuery(linhaTabela).find('td.Conferir')).find('.U_CONFPEDIDO_INPUT').val();
                //console.log("Input", conferirInput)
                let ConferirExibe = jQuery(jQuery(linhaTabela).find('td.ConferirExibe')).find('.U_CONFPEDIDO').text();
                //console.log("Exibe", ConferirExibe)
                let Observacao = jQuery(jQuery(linhaTabela).find('td.Observacao')).find('.U_ObsConf').val();
                //console.log("OBS:", Observacao)
                var conferido = parseFloat(conferirInput) + parseFloat(ConferirExibe);

                var token = $("input[name='__RequestVerificationToken']").length > 0 ? $("input[name='__RequestVerificationToken']").val() : "";
                var confere = {
                    __RequestVerificationToken: token,
                    U_CONFPEDIDO: conferido,
                    U_ObsConf: Observacao,
                    DocEntry: $('#DocEntry').val(),
                    VisOrder: linhaItem - 1,
                    BPL_IDAssignedToInvoice: $('#BPL_IDAssignedToInvoice').val()
                };

                $.ajax({
                    url: '/PedidoCompras/AprovaLinha',
                    type: 'post',
                    dataType: 'json',
                    data: confere,
                    success: function (data) {
                        if (data.type == 'error') {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').addClass('alert-danger');
                        } else {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').removeClass('alert-danger');
                            $('#alert').addClass('alert-success');

                            setInterval(function () { location.reload(true); }, 1000);
                            window.scroll(0, 0);
                        }
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });

            }
        }

    </script>
}