﻿@model IEnumerable<PowerOne.Models.Compras.PedidoCompra>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-12 text-center">Lista de Pedidos de Compras</h1>
<hr />
@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>

}

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header">
        <form action="~/PedidoCompras/Index" method="get">

            <div class="row">
                <div class="col-md-3 form-group col-sm-12">
                    <label>Data de Lançamento de:</label>
                    <input type="date" name="DataInicio" class="form-control" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Até:</label>
                    <input type="date" name="DataFim" class="form-control" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Status:</label>
                    <select name="Status" class="form-control">
                        <option value="T">Todas</option>
                        <option value="O">Aberta</option>
                        <option value="C">Fechada</option>
                    </select>
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <div class="row">
                        <label class="col-12"><br /></label>
                        <button type="submit" class="btn btn-outline-success col-md-12"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        <table class="table table-striped col-md-12 m-auto text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Imprimir</th>
                    <th scope="col">Fechar Status</th>
                    <th scope="col">Número do Documento</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data de Lançamento</th>
                    <th scope="col">Data de Entrega</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink("arrow_forward", "Details", "PedidoCompras", new { DocEntry = item.DocEntry, BPL_IDAssignedToInvoice = item.BPL_IDAssignedToInvoice }, new { @class = "btn btn-outline-dark material-icons" })</td>
                        <td>
                            @Html.ActionLink("print", "Imprimir", "PedidoCompras", new { DocEntry = item.DocEntry }, new { @class = "btn btn-outline-primary material-icons" })
                        </td>
                        @if (item.DocStatus == "Fechada")
                        {
                            <td><button type="button" class="btn btn-outline-danger material-icons" disabled>close</button></td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("close", "FecharStatus", "PedidoCompras", new { DocEntry = item.DocEntry }, new { @class = "btn btn-outline-danger material-icons" })</td>
                        }
                        <td>@Html.DisplayFor(model => item.DocNum)</td>
                        <td>@Html.DisplayFor(model => item.DocStatus)</td>
                        <td>@Html.DisplayFor(model => item.DocDate)</td>
                        <td>@Html.DisplayFor(model => item.DocDueDate)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



