﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.CollectionReport>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="col-12 text-center">Relatório de Cobranças</h1>
<hr />

<div class="card col-md-11 m-auto p-0">
    <div class="card-header">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <label for="TitleCode">Código do Título:</label>
                    <input type="text" name="TitleCode" class="form-control">
                </div>

                <div class="col-md-2">
                    <label for="CardCode">Código do PN:</label>
                    <input type="text" name="CardCode" class="form-control">
                </div>

                <div class="col-md-3">
                    <label for="DueDate">Data de Vencimento:</label>
                    <input type="date" name="DueDate" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Valor Total:</label>
                    <div class="row">
                        <label class="col-md-4" for="TotalFrom">De: </label>
                        <input type="text" name="TotalFrom" class="form-control col-md-8" placeholder="000,00">
                        <label class="col-md-4" for="TotalTo">Até: </label>
                        <input type="text" name="TotalTo" class="form-control col-md-8" placeholder="000,00">
                    </div>
                </div>


                <div class="col-md-2">
                    <br />
                    <button type="submit" class="btn btn-outline-success m-auto form-control material-icons">
                        search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body max-height-400 scroll p-0">
        <table class="table table-striped col-md-12 m-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código do Título</th>
                    <th scope="col">Código do PN</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Data de Vencimento</th>
                    <th scope="col">Número de Cobranças</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.BillCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.CardCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalValue)</td>
                        <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfSubmitions)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
