﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.LogEmail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center pb-5">Histórico de Envio de Emails</h1>

<div class="container-fluid">
    <div class="card col-md-12 m-auto p-0">
        <div class="card-header">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <label for="TitleCode">Código do Título:</label>
                        <input type="text" name="TitleCode" class="form-control">
                    </div>

                    <div class="col-md-2">
                        <label for="CardCode">Código do PN:</label>
                        <input type="text" name="CardCode" class="form-control">
                    </div>

                    <div class="col-md-3">
                        <label>Data de Vencimento:</label>
                        <div class="row">
                            <label class="col-md-4" for="DueDateFrom">De: </label>
                            <input type="date" name="DueDateFrom" class="form-control col-md-8">
                            <label class="col-md-4" for="DueDateTo">Até: </label>
                            <input type="date" name="DueDateTo" class="form-control col-md-8">
                        </div>

                    </div>

                    <div class="col-md-3">
                        <label>Valor Total:</label>
                        <div class="row">
                            <label class="col-md-4" for="TotalFrom">De: </label>
                            <input type="text" name="TotalFrom" class="form-control col-md-8" placeholder="000,00">
                            <label class="col-md-4" for="TotalTo">Até: </label>
                            <input type="text" name="TotalTo" class="form-control col-md-8" placeholder="000,00">
                        </div>
                    </div>


                    <div class="col-md-2">
                        <br />
                        <button type="submit" class="btn btn-outline-success m-auto form-control material-icons"">
                            search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body max-height-400 scroll p-0">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Visualizar</th>
                        <th scope="col">Reenviar</th>
                        <th scope="col">Código</th>
                        <th scope="col">Cód. Título</th>
                        <th scope="col">Cód. do PN</th>
                        <th scope="col">Total</th>
                        <th scope="col">Dt. Envio</th>
                        <th scope="col">Dt. Vencimento</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Status</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary material-icons" data-toggle="modal" @( $"data-target=#Modal{item.Code}" )>
                                    remove_red_eye
                                </button>
                            </td>
                            <td>
                                <form method="post" action="~/BillMessage/SendMail">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(itemModel => item.BillCode, new { Name = "billChecked" })
                                    @foreach (var contact in item.EmailContactsCopyLists)
                                    {
                                        @Html.HiddenFor(itemModel => contact, new { Name = "contactChecked" })
                                    }
                                    <button class="btn btn-outline-success material-icons" alt="reenviar">autorenew</button>
                                </form>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.BillCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.CardCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.BillTotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.SendingDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.MailModelId)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        </tr>

                        /*
                        * Modal para visualizar como ficará a menssagem do Email
                        */

                        <!-- Modal -->
                        <div class="modal fade" id="@($"Modal{item.Code}")" tabindex="-1" role="dialog" aria-labelledby="@($"Modal{item.Code}")" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title" id="exampleModalLabel">Email de @item.Type.Name do Contas a Receber @item.BillCode</h5>

                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Para: < @item.EmailAdress >
                                        @foreach (var copyEMail in item.EmailContactsCopyLists)
                                        {
                                            <span>< @copyEMail ></span>
                                        }
                                        <hr />

                                        Assunto: @item.Subject
                                        <hr />

                                        <dd style="white-space: pre-line;" class="scroll">
                                            @Html.Raw(item.Message)
                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



