﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ItemEstoque>
        itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Filiais> 
        filiais = (List<PowerOne.Models.Filiais>)TempData["filiais"];
}

<h1 class="col-12 text-center">Criar Requisição de Saida de Estoque</h1>
<hr />

<div class="alert col-10 mx-auto alert-hidde" role="alert" id="alert">
</div>

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-2">Filial</strong>
                    <div class="col-md-6">
                        <select name="filial" id="filial" class="form-control" onchange="listarDepositos()">
                            <option value="null" disabled selected>selecione uma filial</option>
                            @foreach (var filial in filiais)
                            {
                                <option value="@filial.BplId.ToString()">@Html.DisplayFor(model => filial.BplName)</option>
                            }
                        </select>
                        <span id="filial_validacao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body p-0 scroll max-height-250">
        <table class="table table-striped col-md-12 m-auto text-center">
            <thead class="thead-dark">
                <tr class="tr">
                    <th scope="col">Nº Linha</th>
                    <th scope="col">Cód. Item</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Und. Medida</th>
                    <th scope="col">Depósito</th>
                    <th scope="col">Observação</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <footer class="card-footer">
        <div class="row">
            <div class="col-md-12">
                <form class="row">
                    <div class="form-group col-md-2">
                        <label>Item:</label>
                        <select name="item" class="form-control" onchange="preencheUnd()" id="item">
                            <option value="" disabled selected>Selecione</option>
                            @foreach (var item in itens)
                            {
                                <option value="@item.ItemCode.ToString()" data-unidadeMedida="@item.UnidadeMedida.ToString()">@Html.DisplayFor(model => item.ItemName)</option>
                            }
                        </select>
                        <span id="item_validacao" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Depósito:</label>
                        <select name="deposito" class="form-control" id="deposito">
                        </select>
                        <span id="deposito_validacao" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Quantidade: </label>
             
                        <input inputmode="numeric" type="tel" id="quantidade"  class="form-control" onkeypress='return SomenteNumero(event, this)' />

                        @*<input type="number" onkeypress="return quant( this , event ) ;" id="quantidade" class="form-control" />*@

                        <span id="quantidade_validacao" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Und. Medida: </label>
                        <input type="text" id="unidadeMedida" class="form-control" readonly />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Observação: </label>
                        <input type="text" id="observacao" class="form-control" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="col-12"><br /></label>
                        <button type="button" class="btn btn-block btn-outline-dark material-icons col-sm-12" onclick="salvarLinha()">add</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <form class="col-md-8 mx-auto">
                        <div class="form-group">
                            <label>Observações: </label>
                            <textarea class="form-control" id="ObservacaoGeral"></textarea>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="row p-2">
                                    <button class="btn btn-success col-md-12" id="enviar" type="button" onclick="salvar()" disabled="disabled">Salvar Requerimento</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Estoque", "Home", null, new { @class = "btn btn-outline-primary  col-md-12" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </footer>
</div>

@section scripts{
    <script>
        var linhas = [];

        function isValid(data) {
            var msg = "";
            var valid = true;
            if (data.CodigoDeposito == null) {
                msg = "Depósito é um campo obrigatório.";
                escreverMensagemEmInput('#deposito_validacao', msg);
                msg = "Escolha uma filial!";
                escreverMensagemEmInput('#filial_validacao', msg);
                valid = false;
            }
            if (data.Quantidade == "" || data.Quantidade == "," || data.Quantidade <= 0 ) {
                msg = "Quantidade é um campo obrigatório.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            } else if (data.Quantidade.substr(0, 1) == ",") {
                msg = "Quantidade Inválida.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            }
           
            teste = $('#item').val();
            if (teste == null || teste == "") {
                msg = "Escolha um item!";
                escreverMensagemEmInput('#item_validacao', msg);
                valid = false;
            }

            return valid;
        }

        function salvarLinha() {
            var linha = {}
            linha.CodigoItem = $('#item :selected').val();
            linha.CodigoDeposito = $('#deposito :selected').val();
            linha.DescricaoDeposito = $('#deposito :selected').text();
            linha.DecricaoItem = $('#item :selected').text();
            linha.Quantidade = $('#quantidade').val();
            linha.UndMedida = $('#unidadeMedida').val();
            linha.Observacao = $('#observacao').val();
            if (isValid(linha)) {
                linhas.push(linha);
                listar();
            } else {
                linha = {}
            }
        }

        function listar() {
            limparFormTable();
            preencheUnd();
            linhas.forEach(function (item) {
                var row = "";

                if (linhas.length > 0) {
                    $('#enviar').prop('disabled', false);
                    $("#filial").prop('disabled', true);
             
                } else if (linhas.length <= 0) {
                    $('#enviar').prop('disabled', false);
                    $("#filial").prop('disabled', false);
                 
                }

                row += "<td>" + (linhas.indexOf(item) + 1) + "</td>";
                row += "<td>" + item.CodigoItem + "</td>";
                row += "<td>" + item.DecricaoItem + "</td>";
                row += "<td>" + item.Quantidade + "</td>";
                row += "<td>" + item.UndMedida + "</td>";
                row += "<td>" + item.DescricaoDeposito + "</td>";
                row += "<td>" + item.Observacao + "</td>";
                row += "<td>" + "<button class='btn btn-outline-danger' onclick='excluirLinha(" + linhas.indexOf(item) + ")'>Excluir</button>" + "</td>";

                $('tbody').append("<tr class='tr'>" + row + "<tr>");
            });
        }

        function preencheUnd() {
            var und = $('#item :selected').attr('data-unidadeMedida');
            $('#unidadeMedida').val(und);
        }

        function limparFormTable() {
            $('tbody tr').remove();
            $('form div input').each(function () {
                this.value = '';
            });

            $('form div select').each(function () {
                this.value = '';
            });
        }

        function salvar() {
            var data = new Date();
            var requerimento = {
                DataLancamento: data.toLocaleString(),
                Observacao: $('textarea#ObservacaoGeral').val(),
                Itens: linhas
            };

            $.ajax({
                url: '/RequerimentoEstoque/Add',
                type: 'post',
                dataType: 'json',
                data: {
                    'ReqEstoque': requerimento
                },
                success: function (data) {
                    if (data.type == 'error') {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hidde');
                        $('#alert').addClass('alert-danger');
                    } else {
                        $('#alert').text(data.msg);
                        $('#alert').removeClass('alert-hidde');
                        $('#alert').addClass('alert-success');

                        
                        limparFormTable();
                        linhas = [];
                    }
                },
                error: function () {
                    alert("Erro ao enviar os dados.");
                }
            });
        }

        function listarDepositos() {
            if ($('#filial :selected').val() == "null") {
                $('select#WhsCode option').remove();
            } else {
                $.ajax({
                    url: '/Deposito/ListDepositos',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'Filial': $('#filial :selected').val()
                    },
                    success: function (data) {
                        preenhceSelectDeposito(data)
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

        function preenhceSelectDeposito(data) {
            $('select#deposito option').remove();
            data.forEach(function (deposito) {
                var row = '';

                row += "<option value='" + deposito.WhsCode + "'>" + deposito.WhsName + "</option>";

                $('select#deposito').append(row);
            });
        }

        var el = $('#Quantity');
        el.on('keyup', function () {
            $('#enviar').prop('disabled', isAnyEmpty(el));
        });


    </script>
}