﻿@model PowerOne.Models.Estoque.RequerimentoEstoque
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
}

<h1 class="col-12 text-center">Detalhes da Requisição</h1>
<hr />

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.Requisitante):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.Requisitante)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.Status):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.Status)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DataLancamento):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DataLancamento)" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        @if (Model.Itens.Count == 0)
        {
            <h2 class="text-center"> Não Foram encontrados itens nessa Requisição de Estoque</h2>
        }
        else
        {
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        @if (Model.Status != "Fechada" && autorizacoes.ReqEstoque != "R")
                        {
                            <th scope="col"><input id="checkTodos" type="checkbox" /></th>
                        }
                        <th scope="col">Nº Interno</th>
                        <th scope="col">Nº da Requisição</th>
                        <th scope="col">Dt. Requisição</th>
                        <th scope="col">Status</th>
                        <th scope="col">Nº Linha</th>
                        <th scope="col">Código</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Depósito</th>
                        <th scope="col">Status Linha</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Itens)
                    {
                        <tr>
                            @if (Model.Status != "Fechada" && autorizacoes.ReqEstoque != "R")
                            {
                                <td><input type="checkbox" name="linesChecked" value="@item.IdLinha" /></td>
                            }
                            <td>@Html.DisplayFor(model => item.DocEntry)</td>
                            <td>@Html.DisplayFor(model => item.DocNum)</td>
                            <td>@Html.DisplayFor(model => item.DataRequisicao)</td>
                            <td>@Html.DisplayFor(model => item.DocStatus)</td>
                            <td>@Html.DisplayFor(model => item.IdLinha)</td>
                            <td>@Html.DisplayFor(model => item.CodigoItem)</td>
                            <td>@Html.DisplayFor(model => item.DecricaoItem)</td>
                            <td>@Html.DisplayFor(model => item.Quantidade)</td>
                            <td>@Html.DisplayFor(model => item.DescricaoDeposito)</td>
                            <td>@Html.DisplayFor(model => item.StatusLinha)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @if(autorizacoes.ReqEstoque != "R")
    { 
    <div class="card-footer">
        <div class="row">
            <form action="~/RequerimentoEstoque/AprovarRequisicao" method="post" class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(id => Model.DocEntry)
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="form-group">
                            <label>Observações:</label>
                            <textarea class="form-control" name="observacoes"></textarea>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @if (Model.Status == "Fechada")
                                    {
                                        <button type="submit" class="btn btn-success col-md-12" disabled>Aprovar</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success col-md-12">Aprovar</button>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Index", "RequerimentoEstoque", new { @class = "btn btn-outline-primary col-md-12" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
    }
</div>

