﻿@model PowerOne.Models.Estoque.RequerimentoEstoque
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Você tem certeza que deseja cancelar esse Requerimento de Estoque?</h1>

<div>
    <h3>Requerimento de Estoque</h3>
    <hr />

    <div class="col-md-8 m-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Dados do Requerimento:</h3>
            </div>
            <div class="card-bodymax-height-300 scroll container-fluid">
                <div class="row">
                    <div class="col-md-12 p-2">
                        <dt>
                            @Html.DisplayNameFor(model => model.DocEntry)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DocEntry)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DataLancamento)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DataLancamento)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Requisitante)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Requisitante)
                        </dd>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped col-md-12 m-auto">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Código do Item</th>
                                    <th scope="col">Descrição do Item</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Itens)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => item.CodigoItem)</td>
                                        <td>@Html.DisplayFor(model => item.DecricaoItem)</td>
                                        <td>@Html.DisplayFor(model => item.Quantidade)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <form action="~/RequerimentoEstoque/FecharRequerimento" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.DocEntry)
                    <input type="submit" value="Fechar" class="btn btn-danger" />
                    @Html.ActionLink("Voltar", "Index", "RequerimentoEstoque", null, new { @class = "btn btn-primary" })
                </form>
            </div>
        </div>
    </div>
</div>
