﻿@model IEnumerable<PowerOne.Models.Estoque.RequerimentoEstoque>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-12 text-center">Lista de Requisição de Estoque</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success col-10 mx-auto my-2" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger col-10 mx-auto" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header">
        <form action="~/RequerimentoEstoque/Index">
            <div class="row">
                <div class="col-md-3 form-group col-sm-12">
                    <label>Data de Lançamento de:</label>
                    <input type="date" class="form-control" name="dtInicio" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Até:</label>
                    <input type="date" class="form-control" name="dtFim" />
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <label>Status:</label>
                    <select class="form-control" name="status">
                        <option value="T">Todas</option>
                        <option value="O">Abertas</option>
                        <option value="C">Fechadas</option>
                    </select>
                </div>
                <div class="col-md-3 form-group col-sm-12">
                    <div class="row">
                        <label class="col-12"><br /></label>
                        <button type="submit" class="btn btn-outline-success col-md-12"><i class="material-icons">search</i></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0 scroll max-height-500">
        <table class="table table-striped col-md-12 m-auto">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Visualizar</th>
                    <th scope="col">Imprimir</th>
                    <th scope="col">Fechar</th>
                    <th scope="col">Número Interno</th>
                    <th scope="col">Número do Documento</th>
                    <th scope="col">Data de Lançamento</th>
                    <th scope="col">Requisitante</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("arrow_forward", "Details", "RequerimentoEstoque", new { DocEntry = item.DocEntry }, new { @class = "btn btn-outline-dark material-icons" })
                        </td>
                        <td>@Html.ActionLink("print", "Imprimir", "RequerimentoEstoque", new { DocEntry = item.DocEntry }, new { @class = "btn btn-outline-primary material-icons" })</td>
                        @if (item.Status == "Fechada")
                        {
                            <td>
                                <button type="button" class="btn btn-outline-danger material-icons" disabled>close</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btn btn-outline-danger material-icons" data-toggle="modal" data-target="#confirmar@(+ item.DocEntry)">
                                    close
                                </button>
                            </td>

                        }
                        <td>@Html.DisplayFor(model => item.DocEntry)</td>
                        <td>@Html.DisplayFor(model => item.DocNum)</td>
                        <td>@Html.DisplayFor(model => item.DataLancamento)</td>
                        <td>@Html.DisplayFor(model => item.Requisitante)</td>
                        <td>@Html.DisplayFor(model => item.Status)</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>


@foreach (var item in Model)
{
    <!-- Modal -->
    <div class="modal fade" id="confirmar@(+item.DocEntry)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-12" id="exampleModalLabel">Confirmação do Documento @(+item.DocEntry)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Data de Lançamento: @(item.DataLancamento.ToString("dd/MM/yyyy"))</p>

                    Você tem certeza que deseja cancelar esse Requerimento de Estoque feito por @(item.Requisitante)? essa ação altera o status do documento de Aberto para Fechado
                </div>
                <div class="modal-footer">
                    <form action="~/RequerimentoEstoque/FecharRequerimento" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => item.DocEntry, new {Name = "DocEntry" })
                        <button type="submit" value="Fechar" class="btn btn-danger">Sim, Desejo fechar o Documento</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                        @* @Html.ActionLink("Sim, Desejo fechar o Documento", "Fechar", "RequerimentoEstoque", new { DocEntry = item.DocEntry }, new { @class = "btn btn-danger " })*@
                    </form>
                </div>
            </div>
        </div>
    </div>
    }