﻿@model PowerOne.Models.AssistenteCobranca.MailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Você tem certeza que deseja excluir esse Modelo de Email?</h1>

<div>
    <h3>Modelo de Email</h3>
    <hr />

    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Dados do Modelo:</h3>
            </div>
            <div class="card-body scroll max-height-300">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Type.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Type.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>

                    <dd>
                        @Html.Raw(Model.Message)
                    </dd>


                </dl>
            </div>
            <div class="card-footer">
                <form action="~/MailModel/DeleteModel" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    @Html.ActionLink("Voltar para Lista de Modelos", "Index", "MailModel", null, new { @class = "btn btn-primary" })
                </form>
            </div>
        </div>
    </div>
</div>
