﻿@model PowerOne.Models.AssistenteCobranca.MailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-center col-12">Modelo de Email</h1>
    <hr />
    <div class="col-12">
        @Html.ActionLink("arrow_back", "Index", "MailModel", null, new { @class = "btn btn-outline-primary m-3 material-icons" })
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong>
                    @Html.DisplayNameFor(model => model.Code):
                </strong>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Code):
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong>
                    @Html.DisplayNameFor(model => model.Description):
                </strong>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong>
                    @Html.DisplayNameFor(model => model.Type.Name):
                </strong>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Type.Name)
            </div>
        </div>
    </div>


    <div class="col-md-12 my-3">
        <div class="card">
            <div class="card-header">
                <strong>Mensagem:</strong>
            </div>
            <div class="card-body scroll max-height-300">
                <strong>@Html.DisplayNameFor(model => model.Subject): </strong>@Html.DisplayFor(model => model.Subject)
                <hr />

                @Html.Raw(Model.Message)
            </div>
        </div>
    </div>

</div>
