﻿@model PowerOne.Models.AssistenteCobranca.MailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PowerOne.Models.AssistenteCobranca.TypeModel> types = (List<PowerOne.Models.AssistenteCobranca.TypeModel>)ViewData["Types"];
}



<div class="row">
    <div class="card col-md-10 m-auto shadow p-3 mb-5 bg-light rounded p-3">
        <div class="card-body">
            <h3 class="text-center">Editar Modelo de Email</h3>
            <hr></hr>

            <form action="~/MailModel/Edit" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => Model.Code)
                        @Html.HiddenFor(model => Model.Code)
                        @Html.TextBoxFor(model => Model.Code, new { @class = "form-control", disabled = "disabled" })

                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => Model.TypeId)
                        @Html.HiddenFor(model => Model.TypeId)
                        @Html.DropDownListFor(model => Model.TypeId, new SelectList(types, "Code", "Name"), new { @class = "form-control", disabled = "disabled" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => Model.PayMethod)
                        @Html.HiddenFor(model => Model.PayMethod)
                        <select name="PayMethod" class="form-control" disabled>
                            <option value="G">Geral</option>
                            <option value="B">Boleto</option>
                            <option value="T">Transferência Bancária</option>
                        </select>
                    </div>

                    <div class="col-md-12">
                        @Html.LabelFor(model => Model.Description)
                        @Html.TextBoxFor(model => Model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.Description, String.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => Model.Code, String.Empty, new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => Model.Subject)
                        @Html.TextBoxFor(model => Model.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => Model.Subject, String.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => Model.Message)
                    @Html.TextAreaFor(model => Model.Message, new { @class = "form-control editable" })
                    @Html.ValidationMessageFor(model => Model.Message, String.Empty, new { @class = "text-danger" })
                </div>
                @Html.ActionLink("arrow_back", "Index", "MailModel", new { @class = "btn btn-outline-dark material-icons" })


                <button type="button" class="btn btn-outline-dark" id="myBtn" data-toggle="modal" data-target="#aviable-variables">Variáveis Disponíveis</button>
                <button type="submit" class="btn btn-primary">Atualizar</button>

            </form>

        </div>
    </div>
</div>


<div class="modal" id="aviable-variables">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-white bg-dark">
                <h4 class="modal-title">Variáveis Disponíveis</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ul>
                    <li>%CardName% - Razão Social</li>
                    <li>%SerialNumber% - Número de Série da Nota Fiscal</li>
                    <li>%InstallmentNumber% - Número da Parcela</li>
                    <li>%DocDate% - Data de Lançamento</li>
                    <li>%DocDueDate% - Data de Vencimento</li>
                    <li>%DocTotal% - Valor Total</li>
                    <li>%DaysToDueDate% - Dias até o vencimento</li>
                    <li>%InvoiceModel% - Modelo Fiscal</li>
                </ul>
            </div>
        </div>
    </div>
</div>