﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.MailModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="col-12 text-center">Modelos de E-mail</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-md-10 col-sm-12 m-auto p-0">
    <div class="card-header">
        <h3 class="text-center">Adicione Novos Modelos clicando @Html.ActionLink("aqui", "Create", "MailModel", null, new { @class = "btn btn-primary" })</h3>
    </div>
    <div class="card-body max-height-500 scroll p-0">
        <table class="table table-striped col-12">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Forma de Pgto.</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var model in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("search", "Details", "MailModel", new { id = model.Code }, new { @class = "btn btn-outline-dark material-icons" })
                        @Html.ActionLink("close", "Delete", "MailModel", new { id = model.Code }, new { @class = "btn btn-outline-danger material-icons" })
                        @Html.ActionLink("edit", "Edit", "MailModel", new { id = model.Code }, new { @class = "btn btn-outline-success material-icons" })
                    </td>
                    <td>@Html.DisplayFor(modelItem => model.Code)</td>
                    <td>@Html.DisplayFor(modelItem => model.Description)</td>
                    <td>@Html.DisplayFor(modelItem => model.Type.Name)</td>
                    <td>@Html.DisplayFor(modelItem => model.PayMethod)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
