﻿@model IEnumerable <PowerOne.Models.AssistenteCobranca.ViewModel.OverviewViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-12 text-center">Visão Geral das Configurações do Sistema</h1>
<hr />

<div class="card col-md-10 col-sm-12 m-auto p-0">
    <div class="card-header">
        <h3 class="text-center">Dados gerais do sistema:</h3>
    </div>
    <div class="card-body max-height-500 scroll p-0">
        <table class="table table-striped col-12">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Grupo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Forma de Pgto.</th>
                    <th scope="col">Modelo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td rowspan="9">
                            @item.Group.DescGroup
                        </td>
                        <td rowspan="3">
                            Pós-Faturamento
                        </td>
                        <td>
                            Geral:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.PosFaturamento["G"].Description) ? item.PosFaturamento["G"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Boleto:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.PosFaturamento["B"].Description) ? item.PosFaturamento["B"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trasferencia Bancária:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.PosFaturamento["T"].Description) ? item.PosFaturamento["T"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            Alerta de Vencimento
                        </td>
                        <td>
                            Geral:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.AlertaVencimento["G"].Description) ? item.AlertaVencimento["G"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Boleto:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.AlertaVencimento["B"].Description) ? item.AlertaVencimento["B"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trasferencia Bancária:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.AlertaVencimento["T"].Description) ? item.AlertaVencimento["T"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">
                            Cobrança
                        </td>
                        <td>
                            Geral:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.Cobranca["G"].Description) ? item.Cobranca["G"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Boleto:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.Cobranca["B"].Description) ? item.Cobranca["B"].Description : "<não configurado>")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trasferencia Bancária:
                        </td>
                        <td>
                            @(!String.IsNullOrEmpty(item.Cobranca["T"].Description) ? item.Cobranca["T"].Description : "<não configurado>")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

