
﻿/*webkit*/

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
  margin: 0;
}

﻿.logo-login{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.bg-login {
    background-color: #dee2e6;
}

/*    SIDEBAR   */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
        width: 15rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

.sidebar-heading {

}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.editable {
    height: 250px;
    overflow: scroll;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/*
    END SIDEBAR
*/



.max-height-250 {
    max-height: 250px;
}
.max-height-250 {
    max-height: 250px;
}

.max-height-400 {
    max-height: 400px;
}

.max-height-500 {
    max-height: 500px;
}

.scroll {
    overflow-y: scroll;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

/*
    Tabela edit
*/

.visible-false {
    display: none;
}

/*
    END Tabela edit
*/

.form-hide {
    display: none;
}

.alert-hide {
    display: none !important;
}

textarea {
    resize: none;
}

td, th {
    min-width: 150px;
}

#sidebar-wrapper {
    background-color: var(--bg-color);
}

.list-group-item-action {
    color: white;
    background-color:var(--bg-color);
}

.list-group-item-action:hover {
    color: white;
    background-color: var(--hover-color);
}
#menu-toggle{
    border: 1px solid var(--bg-color);
}
    #menu-toggle:hover {
        background-color: var(--bg-color);
        color: white;
    }

/*card*/

.cardnosso-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.cardnosso {
    align-self: flex-start;
    position: relative;
    width: 300px;
    height: 300px;
    /*margin:1vh;*/
    background: white;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0px;
    border: 1px solid lightgray;
}

.cardnosso-element {
    position: absolute;
    bottom: 6vh;
    right: 6vh;
}

.card-element {
    position: absolute;
    bottom: 6vh;
    left: 6vh;
}

.cardnosso-title {
    text-align: center;
    font-size: 16px;
}

.cardnosso-sub {
    font-size: 14px;
    position: absolute;
    bottom: 2vh;
    left: 6vh;
    transition: all 1s ease;
}

.img-icon {
    position: absolute;
    height: 70px;
    width: 70px;
    opacity: 0.7;
    right: 7%;
    bottom: 7%;
}

@media screen and (max-width: 1310px) {
  
    .img-icon {
        position: absolute;
        height: 50px;
        width: 50px;
        opacity: 0.7;
        right: 7%;
        bottom: 7%;
    }

}

.samples {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    height:100%;
}

div.piechart table {
    width: auto;
    margin: 0 auto !important;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border: 1px solid ;
    margin: auto;
    text-align: center;
    width: 100%;

}

.highcharts-data-table th {

    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    /*background: transpa;*/
}

.highcharts-data-table tr:hover {
    /*background: #f1f7ff;*/
}

.overview 
{
    list-style: none;
    right:2vw;
}

