:root {
    --bg-color: #d67604;
    --hover-color: #BD813C;
}

thead, th {
    background-color: #e68616 !important;
    border-color: #e68616 !important;
}

.cardnosso {
    border-color: #e68616;
}