﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.BillMessage>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string typeView = (string)ViewData["typeMailView"];
}

<h1 class="text-center">Lista de Contas a Receber</h1>
<hr />

<div class="card col-12 p-0">
    <form action="~/BillMessage/SendMail" method="post">
        @Html.AntiForgeryToken()
        <div class="card-header">
            <div class="row">
                <h4 class="col-12">
                    Realizar disparo de emails de
                    @if (typeView == "T0003")
                    {
                        <span class="badge badge-danger">Cobranças</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Alerta de Vencimento</span>
                    }
                    das contas selecionadas:
                </h4>
            </div>
        </div>

        <div class="card-body scroll max-height-400 p-0">
            <table class="table table-striped col-md-12 m-auto ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><input id="checkTodos" type="checkbox" /></th>
                        <th scope="col">Código</th>
                        <th scope="col">Modelo Fiscal</th>
                        <th scope="col">Nº Série</th>
                        <th scope="col-2">Cliente</th>
                        <th scope="col">Dt. Lanç.</th>
                        <th scope="col">Dt. Venc.</th>
                        @if (typeView == "T0003")
                        {
                            <th scope="col">Dias de Atraso</th>
                        }
                        else
                        {
                            <th scope="col">Dias p/ Vencer</th>
                        }
                        <th scope="col">Forma Pgto</th>
                        <th scope="col">Valor Total</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="billChecked" value="@item.DocCode" />
                            </td>
                            @*Pegando o Número de Série*@
                            <td>@Html.DisplayFor(modelItem => item.DocCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceModel)</td>

                            @*verificando se é uma nota fiscal de saída*@
                            @if (item.DocCode.Substring(0, 3) == "NFS")
                            {
                                <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                            }
                            else
                            {
                                <td>-</td>
                            }


                            <td>@Html.DisplayFor(modelItem => item.CardName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DocDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.DocDueDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.DifferenceDueDateAndToday)</td>
                            <td>@Html.DisplayFor(modelItem => item.PayMethod)</td>
                            <td>@Html.DisplayFor(modelItem => item.DocTotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.MailModelCode)</td>

                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" @( $"data-target=#{item.DocCode}" )>
                                    Visualizar
                                </button>
                            </td>
                        </tr>
                        /*
                         * Modal para visualizar como ficará a menssagem do Email
                         */

                        <!-- Modal -->
                        <div class="modal fade" id="@item.DocCode" tabindex="-1" role="dialog" aria-labelledby="@item.DocCode" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title" id="exampleModalLabel">Email de @item.MailModel.Type.Name do Contas a Receber @item.DocCode</h5>

                                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Para: < @item.EmailAdress >
                                        @foreach (var copyEMail in item.EmailContactsCopyLists)
                                        {
                                            <span>
                                                <
                                                @if (copyEMail.UseForSendingEmail == "Y")
                                                {
                                                    <input type="checkbox" name="contactChecked" value="@($"{item.DocCode}-{copyEMail.Id}")" checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="contactChecked" value="@($"{item.DocCode}-{copyEMail.Id}")" />
                                                }

                                                @copyEMail.Email
                                                >
                                            </span>


                                        }
                                        <hr />

                                        Assunto: @item.MailModel.Subject
                                        <hr />

                                        <dd style="white-space: pre-line;">
                                            @Html.Raw(item.MailModel.Message)
                                        </dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="row">
                        <button type="submit" class="btn btn-success col-md-5 m-2">Enviar</button>
                        @Html.ActionLink("Voltar", "Index", "SendingWizard", new { @class = "btn btn-outline-primary col-md-5 m-2" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
