﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-12 text-center">Agenda de Envio de E-Mails</h2>
<hr />

<div class="card col-12 m-3 bg-light">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <label for="Code">Código:</label>
                    <input type="text" name="Code" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="ModelType">Tipo de Modelo:</label>
                    <select name="ModelType" class="form-control">
                        <option value="1">Pós-Faturamento</option>
                        <option value="2">Alerta de Vencimento</option>
                        <option value="3">Cobrança</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="Days">Dias Antes/Depois do Vencimento:</label>
                    <input type="number" name="Days" class="form-control">
                </div>

                <div class="col-md-2">
                    <br />
                    <button type="submit" class="btn btn-outline-success m-auto form-control">
                        Cadastrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped col-md-10 m-auto">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Tipo de Modelo</th>
            <th scope="col">Dias Antes/Depois da Data de Vencimento</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= 5; i++)
        {
            <tr>
                <td>@i</td>
                <td>Pós-Faturamento</td>
                <td>@i</td>
                <td><a class="btn btn-outline-success" href="#">Editar</a></td>
                <td><a class="btn btn-outline-danger" href="#">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>
