﻿@model PowerOne.Models.AssistenteCobranca.ViewModel.SendingWizardViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.AssistenteCobranca.TypeModel> types = (List<PowerOne.Models.AssistenteCobranca.TypeModel>)ViewData["types"];
    List<string> clientesSemEmail = (List<string>)TempData["ClientesSemEmail"];
}

<div class="row">

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success col-10 mx-auto my-2" role="alert">
            @TempData["Success"].ToString()
        </div>
    }

    @if (TempData["Warning"] != null)
    {
        <div class="alert alert-warning col-10 mx-auto" role="alert">
            @TempData["Warning"].ToString()
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger col-10 mx-auto" role="alert">
            @TempData["Error"].ToString()
        </div>
    }

    @if (TempData["Error"] != null && clientesSemEmail != null)
    {
        <div class="alert alert-danger col-10 mx-auto row" role="alert">
            <span class="col-12">Os seguintes clientes não possuem emails cadastrados: </span>
            <ul class="col-12">
                @foreach (string item in clientesSemEmail)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    }

    <div class="card col-sm-10 m-auto shadow p-3 mb-5 bg-light rounded p-3">
        <div class="card-body">
            <h3 class="text-center">Assistente de Envio de Emails</h3>
            <hr></hr>

            <form action="~/BillMessage/Filter" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => Model.MailTypeCode)
                        @Html.DropDownListFor(model => Model.MailTypeCode, new SelectList(types, "Code", "Name"), new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => Model.CardCode)
                        @Html.TextBoxFor(model => Model.CardCode, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => Model.CodeGroup)
                        @Html.TextBoxFor(model => Model.CodeGroup, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        <label>Data de Vencimento: </label>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="DueDateFrom">De: </label>
                                @Html.TextBoxFor(model => Model.DueDateFrom, new { @class = "form-control", Type = "date" })
                            </div>
                            <div class="col-md-6">
                                <label for="DueDateTo">Até: </label>
                                @Html.TextBoxFor(model => Model.DueDateTo, new { @class = "form-control", Type = "date" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label>Valor do Título: </label>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="TotalValueFrom">De: </label>
                                @Html.TextBoxFor(model => Model.TotalValueFrom, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label for="TotalValueTo">Até: </label>
                                @Html.TextBoxFor(model => Model.TotalValueTo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6">
                            <label for="DaysBefore">Dias antes do vencimento: </label>
                            @Html.TextBoxFor(model => Model.DaysBefore, new { @class = "form-control", Type = "number" })
                        </div>
                        <div class="col-md-6">
                            <label for="DaysAfter">Dias depois do vencimento: </label>
                            @Html.TextBoxFor(model => Model.DaysAfter, new { @class = "form-control", Type = "number" })
                        </div>*@


                    <div class="col-md-12 p-5">
                        <div class="row">
                            <button type="submit" class="btn btn-primary col-md-8 m-auto">Filtrar e Visualizar</button>
                        </div>
                    </div>
            </form>

        </div>
    </div>
</div>

