﻿@model IEnumerable<PowerOne.Models.Autorizacoes>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel> oValoresValidos = new List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel>();

    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "N", sDescricao = "Sem Autorização" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "R", sDescricao = "Acesso Restrito" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "T", sDescricao = "Acesso Total" });
}

<h1 class="text-center">Autorizações</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Usuários</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Grupos</a>
            </li>
        </ul>
    </div>

    <div class="tab-content card-body p-0 scroll max-height-500" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col">Salvar</th>
                        <th scope="col">Sol. de Compra</th>
                        <th scope="col">Criar Sol. Compra</th>
                        <th scope="col">Ped. Compra</th>
                        <th scope="col">Criar Ped.Compra</th>
                        <th scope="col">Req. Estoque</th>
                        <th scope="col">Criar Req. Estoque</th>
                        <th scope="col">Reembolso</th>
                        <th scope="col">Criar Reembolso</th>
                        <th scope="col">Criar Mod. Email</th>
                        <th scope="col">Mod. Email</th>
                        <th scope="col">Assist. Envio</th>
                        <th scope="col">Clientes</th>
                        <th scope="col">Criar Grp. Clientes</th>
                        <th scope="col">Grp. Clientes</th>
                        <th scope="col">Registro. Env. Email</th>
                        <th scope="col">Relat. Cobranças</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <form action="~/Configuracoes/Autorizacoes" method="post">
                            @*@Html.HiddenFor(model => item.UserId)*@
                            <input type="hidden" name="UserId" value="@item.UserId"/>
                            <td>
                                @*@Html.DisplayFor(model => item.UserName, null, new { @calss = "form-control", Name = "UserName" })*@
                                @Html.DisplayFor(model => item.UserName)
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success"><i class="material-icons">save</i></button>
                            </td>
                            <td>
                                <select name="SolCompra" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.SolCompra)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarSolCompra" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarSolCompra)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="PedCompra" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.PedCompra)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarPedCompra" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarPedCompra)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="ReqEstoque" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.ReqEstoque)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarReqEstoque" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarReqEstoque)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="Reembolso" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.Reembolso)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarReembolso" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarReembolso)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarModeloEmail" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarModeloEmail)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="ModeloEmail" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.ModeloEmail)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="AssistEnvio" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.AssistEnvio)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="Clientes" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.Clientes)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="CriarGrpClientes" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.CriarGrpClientes)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="GrpClientes" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.GrpClientes)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="RegistroEnvEmail" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.RegistroEnvEmail)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="RelatCobranças" class="form-control">
                                    @foreach (var option in oValoresValidos)
                                    {
                                        if (option.sValor == item.RelatCobranças)
                                        {
                                            <option value="@option.sValor" selected>@option.sDescricao</option>
                                        }
                                        else
                                        {
                                            <option value="@option.sValor">@option.sDescricao</option>
                                        }
                                    }
                                </select>
                            </td>
                        </form>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">

        </div>
    </div>
</div>

