﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int[] ctCusto = (int[])TempData["DimensoesCtCusto"];
}

<h1 class="text-center p-5">Configurações de Documentos</h1>

@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ctCusto-tab" data-toggle="tab" href="#ctCusto" role="tab" aria-controls="ctCusto" aria-selected="true">Centro de Custo</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="print-tab" data-toggle="tab" href="#print" role="tab" aria-controls="print" aria-selected="false">Impressão de Relatórios</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ctCusto" role="tabpanel" aria-labelledby="ctCusto-tab">

        <form action="~/Configuracoes/CtCustoConfig" method="post" class="row">
            <div class="col-md-8 mx-auto row">
                <div class="col-md-3 col-sm-4 m-4">
                    <label for="ctCusto1" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                        <h5 class="text-center">Dimensão 1</h5>
                    </label>
                    <input type="checkbox"
                           name="ctCusto"
                           id="ctCusto1" value="1"
                           @if (ctCusto.Contains(1)) { @Html.Raw("checked")  } />
                </div>

                <div class="col-md-3 col-sm-4 m-4">
                    <label for="ctCusto2" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                        <h5 class="text-center">Dimensão 2</h5>
                    </label>
                    <input type="checkbox"
                           name="ctCusto"
                           id="ctCusto2"
                           value="2"
                           @if (ctCusto.Contains(2)) { @Html.Raw("checked")  } />
                </div>

                <div class="col-md-3 col-sm-4 m-4">
                    <label for="ctCusto3" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                        <h5 class="text-center">Dimensão 3</h5>
                    </label>
                    <input type="checkbox"
                           name="ctCusto"
                           id="ctCusto3" value="3"
                           @if (ctCusto.Contains(3)) { @Html.Raw("checked")  } />
                </div>

                <div class="col-md-3 col-sm-4 m-4">
                    <label for="ctCusto4" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                        <h5 class="text-center">Dimensão 4</h5>
                    </label>
                    <input type="checkbox"
                           name="ctCusto"
                           id="ctCusto4"
                           value="4"
                           @if (ctCusto.Contains(4)) { @Html.Raw("checked")  } />
                </div>

                <div class="col-md-3 col-sm-4 m-4">
                    <label for="ctCusto5" class="col-md-12 p-5 rounded border border-dark rounded bg-light" style="background-color: #343a40;">
                        <h5 class="text-center">Dimensão 5</h5>
                    </label>
                    <input type="checkbox"
                           name="ctCusto"
                           id="ctCusto5"
                           value="5"
                           @if (ctCusto.Contains(5)) { @Html.Raw("checked")  } />
                </div>
            </div>


            <div class="row col-md-12">
                <div class="col-md-6 m-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row p-2">
                                <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row p-2">
                                @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="tab-pane fade" id="print" role="tabpanel" aria-labelledby="print-tab">

        <h4 class=" p-1 m-5 text-center">Defina os Modelos Crystal Reports para a impressão de documentos: </h4>

        <form enctype="multipart/form-data" class="col-md-12 row" action="~/Configuracoes/ConfigurarModelosImpressao" method="post">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <label for="solicitacao">
                            <h6>Solicitação de Compra:</h6>
                        </label>
                        <input type="file" name="solicitacao" class="form-control-file p-3 border border-dark rounded mt-3" />
                    </div>

                    <div class="col-md-6 m-auto">
                        <label for="pedido">
                            <h6>Pedido de Compra:</h6>
                        </label>
                        <input type="file" name="pedido" class="form-control-file p-3 border border-dark rounded mt-3" />
                    </div>

                    <div class="col-md-6 m-auto">
                        <label for="requerimentoEstoque">
                            <h6>Requerimento de Estoque:</h6>
                        </label>
                        <input type="file" name="requerimentoEstoque" class="form-control-file p-3 border border-dark rounded mt-3" />
                    </div>

                    <div class="col-md-6 m-auto">
                        <label for="reembolso">
                            <h6>Reembolso:</h6>
                        </label>
                        <input type="file" name="reembolso" class="form-control-file p-3 border border-dark rounded mt-3" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 row mt-4">
                <div class="col-md-6 m-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row p-2">
                                <button type="submit" class="btn btn-success col-md-12">Salvar</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row p-2">
                                @Html.ActionLink("Voltar", "Configuracoes", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
