﻿@model PowerOne.Models.AssistenteCobranca.BPGroup
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Você tem certeza que deseja excluir esse Modelo de Email?</h1>

<div>
    <h3 class="text-center">Grupo de Parceiros de Negócio</h3>
    <hr />
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-header">
                Dados do Modelo:
            </div>
            <div class="card-body">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.CodeGroup)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CodeGroup)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DescGroup)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DescGroup)
                    </dd>
                </dl>

                <form action="~/BPGroup/DeleteGroup" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CodeGroup)
                    @Html.HiddenFor(model => model.DescGroup)
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                    @Html.ActionLink("Voltar para Lista de Modelos", "Index", "BPGroup", null, new { @class = "btn btn-primary" })
                </form>
            </div>
        </div>
    </div>
</div>

