﻿@model PowerOne.Models.AssistenteCobranca.BPGroup
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-center col-12">Detalhes do Grupo</h1>
    <hr class="col-12" />
    <div class="col-12">
        @Html.ActionLink("Voltar", "Index", "BPGroup", null, new { @class = "btn btn-outline-primary m-3" })
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>
                    @Html.DisplayNameFor(model => model.CodeGroup):
                </strong>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.CodeGroup):
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>
                    @Html.DisplayNameFor(model => model.DescGroup):
                </strong>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.DescGroup):
            </div>
        </div>
    </div>

</div>
