﻿@model PowerOne.Models.AssistenteCobranca.BPGroup
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.AssistenteCobranca.MailModel> Default = (List<PowerOne.Models.AssistenteCobranca.MailModel>)ViewData["Default"];
    List<PowerOne.Models.AssistenteCobranca.MailModel> Alert = (List<PowerOne.Models.AssistenteCobranca.MailModel>)ViewData["Alert"];
    List<PowerOne.Models.AssistenteCobranca.MailModel> Billing = (List<PowerOne.Models.AssistenteCobranca.MailModel>)ViewData["Billing"];
}

<div class="row">
    <div class="card col-md-7 m-auto shadow p-3 mb-5 bg-light rounded p-3">
        <div class="card-body">
            <h3 class="text-center">Editar Grupo de Parceiros de Negócio</h3>
            <hr />

            <form action="~/BPGroup/Edit" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => Model.CodeGroup)
                        @Html.HiddenFor(model => Model.CodeGroup)
                        @Html.TextBoxFor(model => Model.CodeGroup, new { @class = "form-control", disabled = "disabled" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => Model.DescGroup)
                        @Html.TextBoxFor(model => Model.DescGroup, new { @class = "form-control" })
                    </div>

                    <div class="col-md-12">
                        @Html.ValidationMessageFor(model => Model.CodeGroup, String.Empty, new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => Model.DescGroup, String.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => Model.DefaultModelId)
                        @Html.DropDownListFor(model => Model.DefaultModelId, new SelectList(Default, "Code", "Description"), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => Model.AlertModelId)
                        @Html.DropDownListFor(model => Model.AlertModelId, new SelectList(Alert, "Code", "Description"), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => Model.BillingModelId)
                        @Html.DropDownListFor(model => Model.BillingModelId, new SelectList(Billing, "Code", "Description"), new { @class = "form-control" })
                    </div>*@

                <button type="submit" class="btn btn-primary">Editar</button>
                @Html.ActionLink("Voltar", "Index", "BPGroup", null, new { @class = "btn btn-success" })
            </form>
        </div>
    </div>
</div>