﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.BPGroup>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-12 text-center">Grupo de Parceiros de Negócio</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-md-8 col-sm-12 m-auto p-0">
    <div class="card-header">
        <h3 class="text-center">Para adicionar mais grupos clique @Html.ActionLink("Aqui", "Create", "BPGroup", null, new { @class = "btn btn-primary" })</h3>
    </div>

    <div class="card-body p-0">
        <div class="scroll max-height-400">
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Modelo de Pós-Venda</th>
                        <th scope="col">Modelo de Alerta</th>
                        <th scope="col">Modelo de Cobrança</th>
                        <th></th>
                        @*<th></th>
                            <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CodeGroup)</td>
                            <td>@Html.DisplayFor(modelItem => item.DescGroup)</td>
                            <td>@Html.ActionLink("Selecionar", "PayMethod", "BPGroup", new { typeModel = "T0001", group = item.CodeGroup }, new { @class = "btn btn-outline-primary" })</td>
                            <td>@Html.ActionLink("Selecionar", "PayMethod", "BPGroup", new { typeModel = "T0002", group = item.CodeGroup }, new { @class = "btn btn-outline-primary" })</td>
                            <td>@Html.ActionLink("Selecionar", "PayMethod", "BPGroup", new { typeModel = "T0003", group = item.CodeGroup }, new { @class = "btn btn-outline-primary" })</td>
                            @*<td>
                                    @Html.ActionLink("Detalhes", "Details", "BPGroup", new { code = item.CodeGroup }, new { @class = "btn btn-outline-dark" })
                                </td>*@
                            @*<td>
                                    @Html.ActionLink("Editar", "Edit", "BPGroup", new { code = item.CodeGroup }, new { @class = "btn btn-outline-success" })
                                </td>*@
                            <td>
                                @Html.ActionLink("close", "Delete", "BPGroup", new { code = item.CodeGroup }, new { @class = "btn btn-outline-danger material-icons"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>