﻿@model PowerOne.Models.AssistenteCobranca.ViewModel.PayMethodViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-center col-12">Selecionar Modelos</h1>
    <hr class="col-12" />

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success col-md-12" role="alert">
            @TempData["Success"].ToString()
        </div>
    }

    <div class="card col-md-6 col-sm-12 m-auto p-0">
        <form action="~/BPGroup/PayMethod" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(item => Model.BPGroupId)
            @Html.HiddenFor(item => Model.TypeModelId)
            <div class="card-header">
                <h3 class="col-12 text-center">

                    Modelos de
                    @if ((string)TempData["TypeModel"].ToString() == "T0001")
                    {
                        <span>Pós-Faturamento</span>
                    }
                    else if ((string)TempData["TypeModel"].ToString() == "T0002")
                    {
                        <span>Alerta de Vencimento</span>
                    }
                    else if ((string)TempData["TypeModel"].ToString() == "T0003")
                    {
                        <span>Cobranças</span>
                    }

                </h3>
            </div>
            <div class="card-body p-0">
                <div class="scroll max-height-300">
                    <table class="table table-striped col-md-12">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Forma de Pagamento</th>
                                <th scope="col">Modelo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">Geral:</td>
                                <td>
                                    @Html.DropDownListFor(model => Model.GeralModelId, new SelectList(Model.GeralModels, "Code", "Description"), new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Transferência Bancária:</td>
                                <td>
                                    @Html.DropDownListFor(model => Model.BankTransferModelId, new SelectList(Model.BankTransferModels, "Code", "Description"), new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Boleto:</td>
                                <td>
                                    @Html.DropDownListFor(model => Model.BilletModelId, new SelectList(Model.BilletModels, "Code", "Description"), new { @class = "form-control" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="row">
                            <button type="submit" class="btn btn-success col-md-5 m-2">Atualizar</button>
                            @Html.ActionLink("Voltar", "Index", "BPGroup", new { @class = "btn btn-outline-primary col-md-5 m-2" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


