﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ItemEstoque>
    itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Filiais>
    filiais = (List<PowerOne.Models.Filiais>)TempData["filiais"];

    List<PowerOne.Models.Deposito>
    depositos = (List<PowerOne.Models.Deposito>)TempData["depositos"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];
}


<h1 class="col-12 text-center">Criar Solicitação de Compra</h1>
<hr />

<div class="col-10 mx-auto alert alert-hide" @*role="alert"*@ id="alert"></div>

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">Data Necessária:</strong>
                    <div class="col-md-6">
                        <input type="date" id="ReqDate" class="form-control" />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">Válido Até:</strong>
                    <div class="col-md-6">
                        <input type="date" id="DocDueDate" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">Filial</strong>
                    <div class="col-md-6">
                        <select name="filial" id="filial" class="form-control" onchange="listarDepositos()">
                            <option value="" disabled selected>Selecione...</option>
                            @foreach (var filial in filiais)
                            {
                                <option value="@filial.BplId.ToString()">@Html.DisplayFor(model => filial.BplName)</option>
                            }
                        </select>
                        <span id="filial_validacao" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-itens-tab" data-toggle="tab" href="#nav-itens" role="tab" aria-controls="nav-itens" aria-selected="true">Itens</a>
                <a class="nav-link" id="nav-anexos-tab" data-toggle="tab" href="#nav-anexos" role="tab" aria-controls="nav-anexos" aria-selected="false">Anexos</a>
            </div>
        </nav>
    </div>

    <div class="card-body p-0 scroll max-height-500">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-itens" role="tabpanel" aria-labelledby="nav-itens-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Número da Linha</th>
                            <th scope="col">Código Item</th>
                            <th scope="col">Descrição do Item</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>

                            @if (TempData["ctCusto"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo</th>
                            }
                            @if (TempData["ctCusto2"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 2</th>
                            }
                            @if (TempData["ctCusto3"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 3</th>
                            }
                            @if (TempData["ctCusto4"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 4</th>
                            }
                            @if (TempData["ctCusto5"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo 5</th>
                            }
                            <th scope="col">Depósito</th>
                            <th scope="col">UM</th>
                            <th scope="col">Texto Livre</th>
                            <th scope="col">Data Req.</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="itens">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="nav-anexos" role="tabpanel" aria-labelledby="nav-anexos-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Extensão</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="anexos">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <form class="inputsLinha" id="form_item">
            <div class="row mt-2">
                <div class="form-group col-md-3">
                    <label>Item:</label>
                    @*<select name="item" class="form-control" onchange="preencheUnd()" id="item">
                        <option value="" disabled selected>Selecione...</option>

                        @foreach (var item in itens)
                        {
                            <option value="@item.ItemCode.ToString()" data-unidadeMedida="@item.UnidadeMedida.ToString()">@Html.DisplayFor(model => item.ItemName)</option>
                        }
                        </select>*@

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" id="pesquisar-item">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary material-icons tiny" type="button" onclick="listarItens()" data-toggle="modal" data-target="#itens-modal">
                                search
                            </button>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" id="itens-modal" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-dark">
                                    <h5 class="modal-title">Selecione um Item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-striped table-hover col-md-12 m-auto ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">
                                                    #
                                                </th>
                                                <th scope="col">
                                                    Código
                                                </th>
                                                <th scope="col">
                                                    Descrição
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="lista-tabela-itens">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer m-auto col-12">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <span id="item_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Descrição: </label>
                    @*<input type="text" id="Quantidade" class="form-control" />*@
                    <input type="text" id="desc-item" class="form-control" readonly />
                </div>

                <div class="form-group col-md-3">
                    <label>Quantidade: </label>
                    @*<input type="text" id="Quantidade" class="form-control" />*@
                    <input inputmode="numeric" type="tel" id="Quantidade" class="form-control" onkeypress='return SomenteNumero(event, this)' min="1" />
                    <span id="quantidade_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Preço: </label>
                    @*<input class="form-control" type="text" id="PriceBefDi" onkeypress="mascara(this,moeda)">*@
                    @*<input type="number" id="PriceBefDi" class="form-control" />*@
                    @*<input type="text" class="form-control" runat="server" ID="PriceBefDi" onkeypress='return SomenteNumero(event)' placeholder="R$">*@
                    <input inputmode="numeric" type="tel" id="PriceBefDi" class="form-control" onkeypress='return SomenteNumero(event, this)' placeholder="R$" />

                    @*<input type="text" onkeypress="return quant( this , event ) ;" id="PriceBefDi" class="form-control" />*@
                    <span id="preco_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Data necessária</label>
                    <input type="date" id="ItemReqDate" class="form-control form-linha" />
                    <span id="data_validacao" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                @if (TempData["ctCusto"] != null)
                {
                    <div class="form-group col-md-3">
                        <label>Ct. Custo: </label>
                        <select name="ctCusto" class="form-control" id="OcrCode">
                            <option value=""></option>

                            @foreach (var ctCusto in ctCustos)
                            {
                                <option value="@ctCusto.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto.OcrName)</option>
                            }
                        </select>
                    </div>
                }
                @if (TempData["ctCusto2"] != null)
                {
                    <div class="form-group col-md-3">
                        <label>Ct. Custo 2: </label>
                        <select name="ctCusto2" class="form-control" id="OcrCode2">
                            <option value=""></option>

                            @foreach (var ctCusto2 in ctCustos2)
                            {
                                <option value="@ctCusto2.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto2.OcrName)</option>
                            }
                        </select>
                    </div>
                }
                @if (TempData["ctCusto3"] != null)
                {
                    <div class="form-group col-md-3">
                        <label>Ct. Custo 3: </label>
                        <select name="ctCusto3" class="form-control" id="OcrCode3">
                            <option value=""></option>

                            @foreach (var ctCusto3 in ctCustos3)
                            {
                                <option value="@ctCusto3.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto3.OcrName)</option>
                            }
                        </select>
                    </div>
                }
                @if (TempData["ctCusto4"] != null)
                {
                    <div class="form-group col-md-3">
                        <label>Ct. Custo 4: </label>
                        <select name="ctCusto4" class="form-control" id="OcrCode4">
                            <option value=""></option>

                            @foreach (var ctCusto4 in ctCustos4)
                            {
                                <option value="@ctCusto4.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto4.OcrName)</option>
                            }
                        </select>
                    </div>
                }
                @if (TempData["ctCusto5"] != null)
                {
                    <div class="form-group col-md-3">
                        <label>Ct. Custo 5: </label>
                        <select name="ctCusto5" class="form-control form-linha" id="OcrCode5">
                            <option value=""></option>

                            @foreach (var ctCusto5 in ctCustos5)
                            {
                                <option value="@ctCusto5.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto5.OcrName)</option>
                            }
                        </select>
                    </div>
                }

                <div class="form-group col-md-2">
                    <label>Depósito:</label>
                    <select name="deposito" class="form-control" id="deposito">
                    </select>
                    <span id="deposito_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label>UM:</label>
                    <input type="text" id="unidadeMedidaInput" class="form-control" readonly />
                </div>
                <div class="form-group col-md-2">
                    <label>Texto livre:</label>
                    <input type="text" id="TxtLivre" class="form-control form-linha" />
                </div>
                <div class="form-group col-md-2">
                    <label class="col-12"><br /></label>
                    <button type="button" id="enviar" class="btn btn-outline-dark material-icons" onclick="salvarLinha()">add</button>
                </div>
            </div>
        </form>

        <form id="form_anexo" style="display:none" class="row">
            <div class="form-group">
                <label>Anexo:</label>
                <input type="file" id="input_anexo">
                <button type="button" class="btn btn-success Small" onclick="uploadAnexo()"><i class="material-icons">file_upload</i></button>
            </div>
        </form>

    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="form-group">
                    <label>Observações: </label>
                    <textarea class="form-control" style="resize:none" id="obs" name="obs"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row p-2">
                                <button class="btn btn-success col-md-12" id="botao" type="button" disabled="disabled" onclick="salvar()">Salvar</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row p-2">
                                <button class="btn btn-outline-dark col-md-12" id="btn_anexo" type="button" onclick="addAnexoForm()">Anexo</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row p-2">
                                @Html.ActionLink("Voltar", "Compras", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/scripts/anexos.js"></script>
    <script>

        var linhas = [];

        function docValid() {

            var msg = "";
            var valid = true;
            let data = document.getElementById("DocDueDate");

            var dataAtual = new Date();
            dataAtual.setHours(0, 0, 0, 0);

            var docDueDateFormatada = new Date($('#DocDueDate').val() + 'T00:00');

            if (docDueDateFormatada < dataAtual) {
                msg = "A validade do documento do Documento é menor do que hoje!";
                escreverMensagemEmHead(msg);
                valid = false;
            } else if (data.value == '') {
                msg = "A validade do documento tem que ser inserida!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            var ReqDateFormatada = new Date($('#ReqDate').val() + 'T00:00');

            let data2 = document.getElementById("ReqDate");
            if (ReqDateFormatada < dataAtual) {
                msg = "A data necessaria do Documento é menor do que hoje!";
                escreverMensagemEmHead(msg);
                valid = false;
            } else if (data2.value == '') {
                msg = "A Data necessaria do documento tem que ser inserida!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            let teste = $('#filial').val();
            if (teste == null) {
                msg = "Escolha uma filial!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            return valid;
        }

        function isValid(data) {
            var msg = "";
            var valid = true;

            var dataAtual = new Date();
            dataAtual.setHours(0, 0, 0, 0);

            if (data.Quantidade == "" || data.Quantidade <= 0 || data.Quantidade == ",") {
                msg = "Quantidade inválida.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            } else if (data.Quantidade.substr(0, 1) == ",") {
                msg = "Quantidade Inválido.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            }

            if (data.PriceBefDi == ",") {
                msg = "Preço Inválido.";
                escreverMensagemEmInput('#preco_validacao', msg);
                valid = false;
            }

            let data2 = document.getElementById("deposito");

            if (data2.value == 0 || data2.value == null || data2.value == "") {
                msg = "Deposito precisa ser inserido.";
                escreverMensagemEmInput('#deposito_validacao', msg);
                valid = false;
            }

            let teste = $('#pesquisar-item').val();
            if (teste == null || teste == "") {
                msg = "Escolha um item!";
                escreverMensagemEmInput('#item_validacao', msg);
                valid = false;
            }

            var ItemReqDate = new Date($('#ItemReqDate').val() + 'T00:00');

            let data3 = document.getElementById("ItemReqDate");
            if (ItemReqDate < dataAtual) {
                msg = "A data do item tem que ser maior do que hoje!";
                escreverMensagemEmInput('#data_validacao', msg);
                valid = false;
            } else if (data3.value == '') {
                msg = "Data obrigatoria!";
                escreverMensagemEmInput('#data_validacao', msg);
                valid = false;
            }

            return valid;
        }

        function salvarLinha() {
            preencheUnd();
            var countCCusto = $('.th-ctCusto').length;
            var linha = {};
            linha.CodigoItem = $('#pesquisar-item').val();
            linha.DecricaoItem = $('#desc-item').val();
            linha.deposito = $('#deposito').val();
            linha.depositoNome = $('#deposito :selected').text();

            linha.Quantidade = $('#Quantidade').val();
            linha.PriceBefDi = $('#PriceBefDi').val();
            linha.UM = $('#unidadeMedidaInput').val();
            linha.TxtLivre = $('#TxtLivre').val();
            linha.ItemReqDate = $('#ItemReqDate').val();

            if (countCCusto >= 1) {
                linha.OcrCode = $('#OcrCode :selected').val();
                linha.OcrName = $('#OcrCode :selected').text();
            }
            if (countCCusto >= 2) {
                linha.OcrCode2 = $('#OcrCode2 :selected').val();
                linha.OcrName2 = $('#OcrCode2 :selected').text();
            }
            if (countCCusto >= 3) {
                linha.OcrCode3 = $('#OcrCode3 :selected').val();
                linha.OcrName3 = $('#OcrCode3 :selected').text();
            }
            if (countCCusto >= 4) {
                linha.OcrCode4 = $('#OcrCode4 :selected').val();
                linha.OcrName4 = $('#OcrCode4 :selected').text();
            }
            if (countCCusto >= 5) {
                linha.OcrCode5 = $('#OcrCode5 :selected').val();
                linha.OcrName5 = $('#OcrCode5 :selected').text();
            }

            if (isValid(linha)) {
                linhas.push(linha);
                listar();
            } else {
                linha = {}
            }

            $('#desc-item').val(jQuery(_radio).data(""));
        }

        function listar() {
            limparFormTable();
            preencheUnd();
            var countCCusto = $('.th-ctCusto').length;
            linhas.forEach(function (linha) {

                var row = "";
                if (linhas.length > 0) {
                    $('#botao').prop('disabled', false);
                    $("#filial").prop('disabled', true);

                } else if (linhas.length <= 0) {
                    $('#botao').prop('disabled', true);
                    $("#filial").prop('disabled', false);
                }
                row += "<td>" + (linhas.indexOf(linha) + 1) + "</td>";
                row += "<td>" + linha.CodigoItem + "</td>";
                row += "<td>" + linha.DecricaoItem + "</td>";
                row += "<td>" + linha.Quantidade + "</td>";
                row += "<td>" + linha.PriceBefDi + "</td>";

                if (countCCusto >= 1) {
                    row += "<td>" + linha.OcrName + "</td>";
                }
                if (countCCusto >= 2) {
                    row += "<td>" + linha.OcrName2 + "</td>";
                }
                if (countCCusto >= 3) {
                    row += "<td>" + linha.OcrName3 + "</td>";
                }
                if (countCCusto >= 4) {
                    row += "<td>" + linha.OcrName4 + "</td>";
                }
                if (countCCusto >= 5) {
                    row += "<td>" + linha.OcrName5 + "</td>";
                }

                row += "<td>" + linha.depositoNome + "</td>";
                row += "<td>" + linha.UM + "</td>";
                row += "<td>" + linha.TxtLivre + "</td>";
                row += "<td>" + (new Date(linha.ItemReqDate + 'T00:00')).toLocaleDateString('pt-BR') + "</td>";
                row += "<td>" + "<button class='btn btn-outline-danger' onclick='excluirLinha(" + (linhas.length - 1) + ")'>Excluir</button>" + "</td>";

                $('tbody#itens').append("<tr class='tr'>" + row + "<tr>");


            });
        }

        function salvar() {
            if (docValid()) {

                var data = new Date();
                var solicitacao = {
                    ReqDate: $('#ReqDate').val(),
                    DocDueDate: $('#DocDueDate').val(),
                    DocDate: data.toLocaleString(),
                    Filial: $('#filial').val(),
                    Comments: $('#obs').val(),
                    Itens: linhas,
                    ListaAnexos: anexos
                };

                $.ajax({
                    url: '/SolicitacaoCompras/Add',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'solicitacaoCompra': solicitacao
                    },
                    success: function (data) {
                        if (data.type == 'error') {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').addClass('alert-danger');
                        } else {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').removeClass('alert-danger');
                            $('#alert').addClass('alert-success');

                            limparFormTable();
                            linhas = [];
                        }
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

        function limparFormTable() {
            $('tbody#itens tr').remove();
            $('form div div input').each(function () {
                this.value = '';
            });
            $('form div div select').each(function () {
                this.value = '';
            });
            listarItens("");
        }

        function preencheUnd() {
            var und = $('#item :selected').attr('data-unidadeMedida');
            $('#unidadeMedida').val(und);
        }

        var el = $('#Quantidade');
        el.on('keyup', function () {
            $('#enviar').prop('disabled', isAnyEmpty(el));
        });

        function listarDepositos() {
            if ($('#filial :selected').val() == "null") {
                $('select#deposito option').remove();
            } else {
                $.ajax({
                    url: '/Deposito/ListDepositos',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'Filial': $('#filial :selected').val()
                    },
                    success: function (data) {

                        preenhceSelectDeposito(data)
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

        function preenhceSelectDeposito(data) {
            $('select#deposito option').remove();
            data.forEach(function (deposito) {
                var row = '';
                row += "<option value='" + deposito.WhsCode + "'>" + deposito.WhsName + "</option>";

                $('select#deposito').append(row);
            });
        }

        function listarItens() {
            var itemName = $('#pesquisar-item').val();

            $.ajax({
                url: '/Item/Search',
                type: 'get',
                dataType: 'json',
                data: {
                    'itemName': itemName,
                },
                success: function (data) {
                    listarItensRadio(data);
                },
            });
        }

        function listarItensRadio(listItens) {
            $('tbody#lista-tabela-itens tr').remove();
            listItens.forEach(function (item) {
                var row = ""
                row += "<td>" + "<input type='radio' name='item-radio' id='item-radio' onchange='escreverItemInput(this)' value='" + item.ItemCode + "' data-itemname='" + item.ItemName + "' data-unidademedida='" + item.UnidadeMedida + "'>" + "</td>";
                row += "<td>" + item.ItemCode + "</td>";
                row += "<td>" + item.ItemName + "</td>";

                $('tbody#lista-tabela-itens').append("<tr class='tr'>" + row + " <label for='" + item.ItemCode + "'></label><tr>");
            });
        }

        //function salvarItem() {
        //    $('#pesquisar-item').val($('#item-radio').val());
        //}

        function escreverItemInput(_radio) {
            $('#pesquisar-item').val(jQuery(_radio).val());
            $('#desc-item').val(jQuery(_radio).data("itemname"));
            $('#unidadeMedidaInput').val(jQuery(_radio).data("unidademedida"));
            $('#itens-modal').modal('toggle');
        }

        //$('#itemName').keypress(function teste(e) {
        //    var tecla = (window.event) ? event.keyCode : e.which;
        //    if (tecla == 13) {
        //        alert("Funfou");
        //        $('#itens-modal').modal('toggle');
        //    }
        //});



        $(document).on('keydown', '#pesquisar-item', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                listarItens();
                $('#itens-modal').modal('toggle');
            }
        });


    </script>
}


