﻿@model PowerOne.Models.Compras.SolicitacaoCompra
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    PowerOne.Models.Compras.SolicitacaoCompraLinha modelLinha = new PowerOne.Models.Compras.SolicitacaoCompraLinha();

    List<PowerOne.Models.ItemEstoque> itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.Deposito> depositos = (List<PowerOne.Models.Deposito>)TempData["depositos"];
}

<h1 class="col-12 text-center">Detalhes Solicitação de Compras</h1>
<hr />

@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.ReqName):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.ReqName)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocStatus):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocStatus)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocDate):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocDate)" readonly />
                    </div>
                </div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-itens-tab" data-toggle="tab" href="#nav-itens" role="tab" aria-controls="nav-itens" aria-selected="true">Itens</a>
                <a class="nav-link" id="nav-anexos-tab" data-toggle="tab" href="#nav-anexos" role="tab" aria-controls="nav-anexos" aria-selected="false">Anexos</a>
            </div>
        </nav>

    </div>
    <div class="card-body p-0 scroll max-height-250">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-itens" role="tabpanel" aria-labelledby="nav-itens-tab">
                @if (Model == null)
                {
                    <h2 class="text-center"> Não Foram encontrados itens nessa Solicitação de Compra</h2>
                }
                else
                {
                    <table class="table table-striped col-md-12 m-auto text-center">
                        <thead class="thead-dark">
                            <tr class="tr">
                                <th scope="col">Dt. Necessária</th>
                                <th scope="col">Código Item</th>
                                <th scope="col">Nome do Item</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Preço</th>
                                @if (TempData["ctCusto"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo</th>
                                }
                                @if (TempData["ctCusto2"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 2</th>
                                }
                                @if (TempData["ctCusto3"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 3</th>
                                }
                                @if (TempData["ctCusto4"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 4</th>
                                }
                                @if (TempData["ctCusto5"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 5</th>
                                }
                                <th scope="col">Depósito</th>
                                <th scope="col">Unidade M.</th>
                                <th scope="col">Texto Livre</th>
                                <th scope="col">Status Linha</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Fechar Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Itens)
                            {
                                <form action="~/SolicitacaoCompras/AlterarLinha" method="post">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(id => item.DocEntry, new { Name = "DocEntry" })
                                    @Html.HiddenFor(line => item.IdLinha, new { Name = "IdLinha" })
                                    @Html.HiddenFor(Filial => Model.Filial, new { Name = "Filial" })

                                    <input type="hidden" value="1" name="paramType" />

                                    <tr class="tr">
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.ReqDate)</span>
                                            @Html.TextBoxFor(model => item.ReqDate, null, new { @class = "visible-false input-table-form form-control", Type = "date", @Value = item.ReqDate.ToString("yyyy-MM-dd"), Name = "ReqDate" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.CodigoItem)</span>
                                            @Html.TextBoxFor(model => item.CodigoItem, null, new { @class = "visible-false input-table-form form-control", Name = "CodigoItem", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.DecricaoItem)</span>
                                            @Html.TextBoxFor(model => item.DecricaoItem, null, new { @class = "visible-false input-table-form form-control", Name = "DecricaoItem", Readonly = "Readonly" })

                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.Quantidade)</span>
                                            @Html.TextBoxFor(model => item.Quantidade, null, new { @class = "visible-false input-table-form form-control", Name = "Quantidade", onkeypress = "return quant( this , event ) ;" })
                                        </td>
                                        <td>
                                            @*R$*@
                                            <span class="td-table-form">@Html.DisplayFor(model => item.PriceBefDi)</span>
                                            @*<input type="number" step="any" name="Preco" value="" class="visible-false input-table-form form-control" />*@
                                            @Html.TextBoxFor(model => item.PriceBefDi, null, new { @class = "visible-false input-table-form form-control", Name = "PriceBefDi", onkeypress = "return quant( this , event ) ;" })
                                        </td>

                                        @if (TempData["CtCusto"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form ">@Html.DisplayFor(model => item.OcrName)</span>
                                                @Html.TextBoxFor(model => item.OcrName, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode", Value = item.OcrCode, Readonly = "Readonly" })
                                            </td>
                                        }
                                        @if (TempData["CtCusto2"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName2)</span>
                                                @Html.TextBoxFor(model => item.OcrName2, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode2", Value = @Html.DisplayFor(model => item.OcrCode2), Readonly = "Readonly" })
                                            </td>
                                        }
                                        @if (TempData["CtCusto3"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName3)</span>
                                                @Html.TextBoxFor(model => item.OcrName3, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode3", Value = @Html.DisplayFor(model => item.OcrCode3), Readonly = "Readonly" })
                                            </td>
                                        }
                                        @if (TempData["CtCusto4"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName4)</span>
                                                @Html.TextBoxFor(model => item.OcrName4, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode4", Value = @Html.DisplayFor(model => item.OcrCode4), Readonly = "Readonly" })
                                            </td>
                                        }
                                        @if (TempData["CtCusto5"] != null)
                                        {
                                            <td>
                                                <span class="td-table-form">@Html.DisplayFor(model => item.OcrName5)</span>
                                                @Html.TextBoxFor(model => item.OcrName5, null, new { @class = "visible-false input-table-form form-control", Name = "OcrCode5", Value = @Html.DisplayFor(model => item.OcrCode5), Readonly = "Readonly" })
                                            </td>
                                        }

                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.Deposito)</span>
                                            <select name="Deposito" class="visible-false input-table-form form-control" id="Deposito">
                                                @foreach (var deposito in depositos)
                                                {
                                                    <option value="@deposito.WhsCode.ToString()">@Html.DisplayFor(model => deposito.WhsName)</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.UM)</span>
                                            @Html.TextBoxFor(model => item.UM, null, new { @class = "visible-false input-table-form form-control", Name = "UM", Readonly = "Readonly" })

                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.TxtLivre)</span>
                                            @Html.TextBoxFor(model => item.TxtLivre, null, new { @class = "visible-false input-table-form form-control", Name = "TxtLivre" })

                                        </td>
                                        <td>
                                            <span class="td-table-form">@Html.DisplayFor(model => item.LineStatus)</span>
                                            @Html.TextBoxFor(model => item.LineStatus, null, new { @class = "visible-false input-table-form form-control", Name = "LineStatus", Readonly = "Readonly" })
                                        </td>
                                        <td>
                                            @if (item.DocStatus == "Aberta" && item.LineStatus == "Aberta")
                                            {
                                                <a class="btn btn-outline-dark td-table-form" onclick="toggleTableForm(this);">Editar</a>
                                                <button type="submit" class="visible-false input-table-form btn btn-primary">Salvar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="input-table-form btn btn-primary" disabled>Editar</button>
                                            }
                                        </td>
                                        <td>
                                            @if (item.DocStatus == "Aberta" && item.LineStatus == "Aberta")
                                            {
                                                @Html.ActionLink("Fechar", "FecharStatusLinha", "SolicitacaoCompras", new { id = item.DocEntry, line = item.IdLinha, Filial = Model.Filial }, new { @class = "btn btn-outline-danger td-table-form" })
                                                <button class="visible-false input-table-form btn btn-outline-danger" disabled>Fechar</button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-outline-danger" disabled>Fechar</button>
                                            }
                                        </td>
                                    </tr>
                                </form>
                            }

                            <form action="~/SolicitacaoCompras/AlterarLinha" method="post">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(id => Model.DocEntry, new { Name = "DocEntry" })
                                @Html.HiddenFor(line => modelLinha.IdLinha, new { Name = "IdLinha" })
                                @Html.HiddenFor(Filial => Model.Filial, new { Name = "Filial" })

                                <input type="hidden" value="2" name="paramType" />

                                <tr class="tr formLinha form-hide">
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.ReqDate, null, new { @class = "form-control", Type = "date", Name = "ReqDate", Value = DateTime.Now })
                                    </td>
                                    <td>
                                        <input type="text" id="itemCode" name="CodigoItem" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <select name="DecricaoItem" class="form-control" onchange="preenche()" id="item">
                                            <option></option>
                                            @foreach (var item in itens)
                                            {
                                                <option value="@Html.DisplayFor(model => item.ItemName)" data-code="@item.ItemCode.ToString()" data-unidadeMedida="@item.UnidadeMedida.ToString()">@Html.DisplayFor(model => item.ItemName)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.Quantidade, null, new { @class = "form-control", Name = "Quantidade", onkeypress = "return quant( this , event ) ;" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.PriceBefDi, null, new { @class = "form-control", Name = "PriceBefDi", onkeypress = "return quant( this , event ) ;" })
                                    </td>

                                    @if (TempData["ctCusto"] != null)
                                    {
                                        <td id="tb-OcrCode"></td>
                                    }
                                    @if (TempData["ctCusto2"] != null)
                                    {
                                        <td id="tb-OcrCode2"></td>
                                    }
                                    @if (TempData["ctCusto3"] != null)
                                    {
                                        <td id="tb-OcrCode3"></td>
                                    }
                                    @if (TempData["ctCusto4"] != null)
                                    {
                                        <td id="tb-OcrCode4"></td>
                                    }
                                    @if (TempData["ctCusto5"] != null)
                                    {
                                        <td id="tb-OcrCode5"></td>
                                    }

                                    <td>
                                        <select name="Deposito" class="input-table-form form-control" id="Deposito">
                                            @foreach (var deposito in depositos)
                                            {
                                                <option value="@deposito.WhsCode.ToString()">@Html.DisplayFor(model => deposito.WhsName)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="UM" id="unidadeMedida" class="form-control" readonly />
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => modelLinha.TxtLivre, null, new { @class = "form-control", Name = "TxtLivre" })

                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <button type="submit" class="input-table-form btn btn-primary">Salvar</button>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-dark" onclick="adicionarLinha()">Cancelar</a>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show" id="nav-anexos" role="tabpanel" aria-labelledby="nav-anexos-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Extensão</th>
                            <th scope="col">Diretório</th>
                        </tr>
                    </thead>
                    <tbody id="anexos">
                        @if (Model.ListaAnexos != null)
                        {
                            foreach (PowerOne.Models.Arquivo anexo in Model.ListaAnexos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => anexo.Nome)</td>
                                    <td>@Html.DisplayFor(m => anexo.Extensao)</td>
                                    <td>@Html.DisplayFor(m => anexo.Diretorio)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">

            <form action="~/SolicitacaoCompras/EditarAnexo" method="post" enctype="multipart/form-data" id="form_anexo" style="display:none" class="col-md-5 mx-auto">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(docEntry => Model.DocEntry, new { Name = "DocEntry" })
                    @Html.HiddenFor(docEntry => Model.idAnexos, new { Name = "idAnexos" })
                    @Html.HiddenFor(docEntry => Model.Filial, new { Name = "Filial" })
                    <label>Anexo:</label>
                    <div class="row">
                        <input type="file" id="input_anexo" class="form-control col-10 h-100" name="file">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success Small">
                                <i class="material-icons">file_upload</i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-6 row mx-auto mt-4 mb-4">
            <div class="col-md-12 text-center m-auto">
                <label>Observações do documento:</label>
            </div>
            <textarea class="form-control" readonly style="resize:none" id="obs" name="obs">@Html.DisplayFor(model => Model.Comments)</textarea>
        </div>

        <div class="col-md-10 mx-auto row">
            <div class="col-md-4 m-auto">
                <div class="row">
                    @Html.ActionLink("Voltar", "Index", "SolicitacaoCompras", new { @class = "btn btn-outline-primary col-md-10" })
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="row">
                    @if (Model.DocStatus == "Aberta")
                    {
                        <button class="btn btn-outline-success col-md-10" onclick="adicionarLinha()">Adicionar Item</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success col-md-10" disabled>Adicionar Item</button>
                    }
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="row">
                    <button class="btn btn-outline-success col-md-10" onclick="addAnexoForm()">Adicionar Anexo</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/scripts/anexos.js"></script>
    <script>

        function preenche() {
            //preenche o código do item
            var code = $('#item :selected').attr('data-code');
            $('#itemCode').val(code);

            //preenche a unidade de medida
            var und = $('#item :selected').attr('data-unidadeMedida');
           
            $('#unidadeMedida').val(und);
        }
    </script>
}
