﻿@model PowerOne.Models.Reembolso.SolicitacaoReembolso
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="col-12 text-center">Detalhes do Reembolso</h1>
<hr />

@if (TempData["Success"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-10 mx-auto bg-light p-0">

    @*@Html.AntiForgeryToken()
    @Html.HiddenFor(id => Model.DocEntry)*@
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocNum):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocNum)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.CardCode):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.CardCode)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.CardName):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.CardName)" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocDate):</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="@Html.DisplayFor(model => Model.DocDate)" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">Classificação do Documento:</strong>
                    <div class="col-md-6">
                        <input class="form-control" value="Reembolso" readonly />
                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">@Html.DisplayNameFor(model => Model.DocStatus):</strong>
                    <div class="col-md-6">
                        @if (Model.DocStatus == "O")
                        {
                            <input type="text" class="form-control from-group" value="Aberto" readonly />
                        }
                        else
                        {
                            <input type="text" class="form-control from-group" value="Fechado" readonly />
                        }
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-itens-tab" data-toggle="tab" href="#nav-itens" role="tab" aria-controls="nav-itens" aria-selected="true">Itens</a>
                <a class="nav-link" id="nav-anexos-tab" data-toggle="tab" href="#nav-anexos" role="tab" aria-controls="nav-anexos" aria-selected="false">Anexos</a>
            </div>
        </nav>
    </div>
    <div class="card-body p-0 scroll max-height-250">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active card-body p-0 scroll max-height-500" id="nav-itens" role="tabpanel" aria-labelledby="nav-itens-tab">
                @if (Model == null)
                {
                    <h2 class="text-center"> Não Foram encontrados itens nessa Requisição de Estoque</h2>
                }
                else
                {
                    <table class="table table-striped col-md-12 m-auto">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Dt. Lançamento</th>
                                <th scope="col">Código Item</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Quantidade</th>

                                @if (TempData["ctCusto"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo</th>
                                }
                                @if (TempData["ctCusto2"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 2</th>
                                }
                                @if (TempData["ctCusto3"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 3</th>
                                }
                                @if (TempData["ctCusto4"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 4</th>
                                }
                                @if (TempData["ctCusto5"] != null)
                                {
                                    <th scope="col" class="th-ctCusto">Centro de custo 5</th>
                                }

                                <th scope="col">Contrato</th>
                                <th scope="col">Projeto</th>
                                <th scope="col">Texto Livre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Itens)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.DocDate)</td>
                                    <td>@Html.DisplayFor(model => item.ItemCode)</td>
                                    <td>@Html.DisplayFor(model => item.ItemName)</td>
                                    <td>@Html.DisplayFor(model => item.Quantity)</td>

                                    @if (TempData["ctCusto"] != null)
                                    {
                                        <td>@Html.DisplayFor(model => item.OcrName)</td>
                                    }
                                    @if (TempData["ctCusto2"] != null)
                                    {
                                        <td>@Html.DisplayFor(model => item.OcrName2)</td>
                                    }
                                    @if (TempData["ctCusto3"] != null)
                                    {
                                        <td>@Html.DisplayFor(model => item.OcrName3)</td>
                                    }
                                    @if (TempData["ctCusto4"] != null)
                                    {
                                        <td>@Html.DisplayFor(model => item.OcrName4)</td>
                                    }
                                    @if (TempData["ctCusto5"] != null)
                                    {
                                        <td>@Html.DisplayFor(model => item.OcrName5)</td>
                                    }

                                    @*<td>@Html.DisplayFor(model => item.OcrName2)</td>
                                        <td>@Html.DisplayFor(model => item.OcrName3)</td>
                                        <td>@Html.DisplayFor(model => item.OcrName4)</td>
                                        <td>@Html.DisplayFor(model => item.OcrName5)</td>*@

                                    <td>@Html.DisplayFor(model => item.Contrato)</td>
                                    <td>@Html.DisplayFor(model => item.Projeto)</td>
                                    <td>@Html.DisplayFor(model => item.FreeTxt)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="tab-pane fade show p-0 scroll max-height-500" id="nav-anexos" role="tabpanel" aria-labelledby="nav-anexos-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Extensão</th>
                            <th scope="col">Diretório</th>
                        </tr>
                    </thead>
                    <tbody id="anexos">
                        @foreach (PowerOne.Models.Arquivo anexo in Model.ListaAnexos)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => anexo.Nome)</td>
                                <td>@Html.DisplayFor(m => anexo.Extensao)</td>
                                <td>@Html.DisplayFor(m => anexo.Diretorio)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer ">
        <div class="row">
            <form action="~/SolicitacaoReembolso/EditarAnexo" method="post" enctype="multipart/form-data" id="form_anexo" style="display:none" class="col-md-5 mx-auto">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(docEntry => Model.DocEntry, new { Name = "DocEntry" })
                    @Html.HiddenFor(docEntry => Model.idAnexos, new { Name = "idAnexos" })
                    <label>Anexo:</label>
                    <div class="row">
                        <input type="file" id="input_anexo" class="form-control col-10 h-100" name="file">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success Small">
                                <i class="material-icons">file_upload</i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 text-center m-auto">
                <label>Observações do Reembolso:</label>
                <textarea class="form-control" readonly style="resize:none" id="obs" name="obs">@Html.DisplayFor(model => Model.Comments)</textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                @if (Model.DocStatus == "O")
                {
                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmar">
                        Fechar Documento
                    </button>
                }
                else
                {
                    <button class="btn btn-danger form-control btn-block" disabled>Fechar Documento</button>
                }
            </div>
            <div class="col">
                @if (Model.DocStatus == "O")
                {
                    @Html.ActionLink("Adicionar Anexo", "Adicionar Anexo", "SolicitacaoReembolso", new { @class = "btn btn-success form-control btn-block" })
                }
                else
                {
                    <button class="btn btn-success form-control btn-block" disabled>Adicionar Anexo</button>
                }
            </div>
            <div class="col">
                @Html.ActionLink("Voltar", "Index", "SolicitacaoReembolso", new { @class = "btn btn-outline-primary form-control btn-block" })
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo fechar o documento? essa ação altera o status do documento de Aberto para Fechado
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não, Voltar</button>
                @Html.ActionLink("Sim, Desejo fechar o Documento", "FecharStatus", "SolicitacaoReembolso", new { DocEntry = Model.DocEntry }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>










