﻿@model IEnumerable<PowerOne.Models.AssistenteCobranca.ContactEmployee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-center col-12">Pessoas de Contato</h1>
    <hr class="col-12" />

    <div class="card col-md-8 col-sm-12 m-auto p-0">
        <div class="card-header">
            <h3 class="col-12 text-center">Selecione as Pessoas de Contato que também receberão os Emails</h3>
        </div>


        <form action="~/BusinessPartner/SetContacts" method="post" class="col-12 p-0">
            <div class="card-body p-0">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(item => Model.First().CardCode)

                <div class="scroll max-height-300">
                    <table class="table table-striped col-md-12">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Código do Contato</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Posição</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.UseForSendingEmail == "Y")
                                        {
                                            <input type="checkbox" name="contactChecked" value="@item.Id" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="contactChecked" value="@item.Id" />
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">
                    Aplicar
                </button>
                @Html.ActionLink("Voltar", "Index", "BusinessPartner", new { @class = "btn btn-outline-primary" })
            </div>
        </form>



    </div>
</div>




