﻿@model PowerOne.Models.AssistenteCobranca.BusinessPartner
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PowerOne.Models.AssistenteCobranca.BPGroup> bpGroup = (List<PowerOne.Models.AssistenteCobranca.BPGroup>)ViewData["Groups"];

    List<PowerOne.Models.AssistenteCobranca.BusinessPartner> bps = (List<PowerOne.Models.AssistenteCobranca.BusinessPartner>)ViewData["BusinessPartner"];

}


<h1 class="col-12 text-center">Configurar Modelos para os Parceiros de Negócio</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header">
        <form>
            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => Model.CardCode):
                    @Html.TextBoxFor(model => Model.CardCode, new { @class = "form-control" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => Model.CardName):
                    @Html.TextBoxFor(model => Model.CardName, new { @class = "form-control" })
                </div>
                <div class="col">
                    @Html.LabelFor(model => Model.CodeGroup):
                    @Html.DropDownListFor(model => Model.CodeGroup, new SelectList(bpGroup, "CodeGroup", "DescGroup"), new { @class = "form-control" })
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-success m-auto form-control material-icons">
                        search
                    </button>
                </div>
                <div class="col">
                    @Html.ActionLink("Limpar Filtros", "Index", "BusinessPartner", null, new { @class = "btn btn-outline-dark" })
                </div>
            </div>
        </form>
    </div>
    <div class="card-body p-0 scroll max-height-500">

        @if (bps.Count != 0)
        {
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.CardCode)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.CardName)</th>
                        <th scope="col">Grupo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in bps)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CardCode)</td>
                            <td>@Html.DisplayFor(modelItem => item.CardName)</td>

                            <form action="~/BusinessPartner/Edit" method="post">
                                @Html.AntiForgeryToken()
                                <td>
                                    @Html.HiddenFor(modelItem => item.CardCode, new { Name = "CardCode" })
                                    @*@Html.DropDownListFor(modelItem => item.CodeGroup, new SelectList(bpGroup, "CodeGroup", "DescGroup"), new { @class = "form-control" })*@

                                    <select name="CodeGroup" class="form-control">
                                        @foreach (var opt in bpGroup)
                                        {
                                            if (opt.CodeGroup == item.CodeGroup)
                                            {
                                                <option value="@opt.CodeGroup" selected>@opt.DescGroup</option>
                                            }
                                            else
                                            {
                                                <option value="@opt.CodeGroup">@opt.DescGroup</option>
                                            }

                                        }

                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary" type="submit">
                                        Aplicar
                                    </button>
                                </td>
                                <td>
                                    @Html.ActionLink("Pessoas de Contato", "ContactEmployee", "BusinessPartner", new { id = item.CardCode }, new { @class = "btn btn-outline-dark" })
                                </td>
                            </form>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="card">
                <div class="card-body">

                    <h2 class="text-center"> Não Foram encontrados registros de Parceiros de Negócio da Categoria Clientes.</h2>
                    <p class="text-center">Para voltar para à página de listagem clieque @Html.ActionLink("Aqui", "Index", "BusinessPartner", null, new { @class = "btn btn-outline-primary" })</p>
                </div>
            </div>

        }
    </div>
</div>
